footer{
    width: 100%;overflow: hidden; font-size:10px;position: fixed;bottom:0;background:#1D1D3D;
    display: -webkit-box;display: -ms-flexbox;display: flex;
    left: 0;
    right: 0;
    max-width: 470px !important;
    margin: 0 auto;
}
footer a{color:#a2a6a5;width:25%;height:50px;display: block}
footer div{width:100%;height:50px;text-align: center;}
footer .img{width: 26%;height: 25px;margin:3px auto;background-size: cover;background-repeat: no-repeat;background-position: center center;}
.select{color:#FFFFFF;}
.img0{background-image: url(../images/footer/index0.png);}
.img1{background-image: url(../images/footer/hang0.png);}
.img2{background-image: url(../images/footer/trade0.png);}
.img3{background-image: url(../images/footer/gang0.png);}
.img4{background-image: url(../images/footer/mine0.png);}
.img5{background-image: url(../images/footer/personal0.png);}
.select .img0{background-image: url(../images/footer/index1.png);}
.select .img1{background-image: url(../images/footer/hang1.png);}
.select .img2{background-image: url(../images/footer/trade1.png);}
.select .img3{background-image: url(../images/footer/gang1.png);}
.select .img4{background-image: url(../images/footer/mine1.png);}
.select .img5{background-image: url(../images/footer/personal1.png);}