/* 登录 */
.overhide{overflow:hidden;}
#login {padding: 0px 30px;margin-top: 25px;margin-bottom: 25px;}
.logo {overflow: hidden;margin-bottom: 35px;text-align: center}
.logo img {width: 100px;}
.form-control {background-color: rgba(0, 0, 0, 0);border: none;border-bottom: 1px solid #3e536b;box-shadow: none;border-radius: 0px;padding: 6px 0;font-size: 14px;}
#login .theme input::-webkit-input-placeholder {color: #c5cacd;font-size: 14px;}
#login .theme input[placeholder],[placeholder],*[placeholder] {color: #fff !important;padding-left: 14px;}
.form-group {position: relative;}
#login .theme .icons {position: absolute;top: 8px;right: 4px;width: 14px;height: 14px;}
#login .theme .btn-default {background: #1881d2 !important;color: #fff;border-color: #1881d2;width: 100%;font-size: 14px;margin-top: 35px;border-radius: 4px;padding: 10px 0;border: none;outline: none;}
#login .theme .help-block {color: #1881d2;text-decoration: none;cursor: pointer;margin-top: 30px;}
#login .nocount {color: #fff;font-size: 14px;margin-top:15%;}
#login .nocount a {color: #1881d2;font-weight: 600;}
.remember-password{margin-top: 10px;color: #fff;}
.remember-password input{border: 1px solid #e5e5e5;border-radius: 4px;color: #e5e5e5;-webkit-appearance: checkbox;width: auto;min-width: auto;position: relative;top: 3px;}
.code{
    position:absolute;right: 4px;bottom: 5px;border: none;outline: none;background: #1881d2;
    color: #fff;
    padding: 3px 5px;
    border-radius: 4px;}
.logincode{display: none;}
.header {
    height: 45px;
    line-height: 45px;
    z-index: 999;
    background: #061623;
}
.country {
    z-index: 9;
    flex-wrap: wrap;
    top: 45px;
    right: 0;
    width: 0;
    position: absolute;
    /* display: none; */
    height: 100%;
    background: #061623;
    transition: all .3;
    -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
    overflow-y:scroll;
}
.showcity{
    width:100%;
    display:block;
    transition: all .3s;
    -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
}
.p10{padding: 10px;}
.c_number{color: #87a2cd;}