html,
body {
  background-color: #181925;
  color: white;
  width: 100%;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
header {
  background-image: url(../images/top_bg.png);
  height: 165px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.t-headTop {
  padding: 20px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.t-headMsg {
  font-size: 32px;
  text-align: center;
}
.t-headMsg p {
  margin-bottom: 20px;
}
.t-headMsg p:first-child {
  font-size: 20px;
}
.t-headMsg p:last-child {
  font-size: 18px;
}
#main {
  padding: 15px;
}
#jindu {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#progress-container {
  width: 200px;
  height: 200px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#progress-container img {
  width: 100%;
  top: 0;
  left: 0;
  animation: round 3s linear infinite;
}
#progress-container p{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.jinduRight {
  width: 200px;
  height: 200px;
  font-size: 16px;
  padding-top: 10px;
}
.jinduRight p {
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.jinduRight p:last-child {
  display: block;
  width: 140px;
  height: 60px;
  text-align: center;
  line-height: 56px;
  padding-left: 0;
  background-image: url(../images/to_deal_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 30px;
}
.yellowText {
  color: #ffff00;
}
.blueText {
  font-size: 20px;
  color: #3abeff;
}
.smallText {
  font-size: 12px;
}
.listItem {
  background-color: #222231;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.listItem .winePic {
  width: 80px;
}
.listItem .winePic img {
  width: 60px;
  height: auto;
}
.listItem .wineArrow {
  width: 40px;
}
.listItem .wineArrow img {
  width: 40px;
}
.wineName p:last-child {
  color: #9193a7;
  margin-top:15px;
}
.wineNum p:last-child {
  color: #9193a7;
  margin-top:15px;
}
.wineName,
.wineNum,
.wineArrow {
  padding-top: 10px;
}
