<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  <title>代理</title>
  <link rel="stylesheet" type="text/css" href="css/common.css" />
  <link rel="stylesheet" type="text/css" href="css/global.css">
  <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
  <link rel="stylesheet" href="css/footer.css">
  <style>
    section li {
      padding: 5px 10px;
      margin-bottom: 10px;
    }

    /* section li a>div{padding: 10px 0;} */
    .swiper-container {
      width: 100%;
    }

    header {
      height: 35px;
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      width: 100%;
      background: #122441;
      border-bottom: 1px solid #2b3d5a;
    }

    .header-scroll {
      box-shadow: 0 2px 2px #999
    }

    header img {
      width: 24px;
      height: 24px;
      float: left;
      margin-left: 10px;
      margin-top: 5px;
    }

    header a {
      position: absolute;
    }

    header span {
      line-height: 35px;
      margin: 0 10px;
      color: #758a8f;
      padding-bottom: 4px;
    }

    header .active {
      font-weight: bold;
      color: #fff;
      /* border-bottom: 1px solid #D26229; */
    }

    li a {
      color: inherit;
      display: block;
      border: 1px solid #11283c;
      padding: 10px;
      background: #121f2f;
      border-radius: 4px;
    }

    li a .flex1>p {
      font-size: 12px;
    }

    .swiper-slide {
      width: 100%;
      margin: 0 auto;
    }

    .agent_level {
      width: 100%;
    }
  </style>
</head>

<body style="padding-top:40px">
  <div id="app" v-cloak>
    <header class="header" :class="[{'level01':type== 'trade','level02':type== 'lever','level03':type== 'legal'}]">
      <!-- <a href="personal.html" class="mt5 back"></a> -->
      <div class="top-tab tc">
        <!-- <span>资产</span> -->
        <span :class="[{'active': type== 'trade'}]" @click="tabClick('trade')" data-localize="assets.currency">币币</span>
        <!-- <span :class="[{'active': type== 'lever'}]" @click="tabClick('lever')" data-localize="assets.lever">杠杆</span>  -->
        <span :class="[{'active': type== 'legal'}]" @click="tabClick('legal')" data-localize="assets.legal">法币</span>
      </div>

    </header>
    <!--切换-->

    <section class="swiper-container mycontainer">
      <section class="swiper-wrapper">
        <section class="swiper-slide">
          <section class="agent_level">
            <section class="levelbox level01">
              <div class="white flex between alcenter">
                <div>
                  <span data-localize="assets.curAccount">币币账户</span> <span data-localize="assets.total"
                    class="ft12">总资产折合（$）</span>
                </div>
                <img :src="show==true?'images/shows.png':'images/hides.png'" alt="" @click='hide'>
              </div>
              <p class="mt20 deal_total">{{show?tradeCount:hideit}}</p>
            </section>
          </section>
        </section>
        <!-- <section class="swiper-slide">
          <section class="agent_level">
            <section class="levelbox level02">
              <div class="white flex between alcenter">
                <div>
                  <span data-localize="assets.leverAccount">杠杆账户</span> <span class="ft12"
                    data-localize="assets.total">总资产折合（$）</span>
                </div>
                <img :src="show==true?'images/shows.png':'images/hides.png'" alt="" @click='hide'>
              </div>
              <p class="mt20 deal_total">{{show?leverCount:hideit}}</p>
            </section>
          </section>
        </section> -->
        <section class="swiper-slide">
          <section class="agent_level">
            <section class="levelbox level03">
              <div class="white flex between alcenter">
                <div>
                  <span data-localize="assets.legalAccount">法币账户</span> <span class="ft12"
                    data-localize="assets.total">总资产折合（$）</span>
                </div>
                <img :src="show==true?'images/shows.png':'images/hides.png'" alt="" @click='hide'>
              </div>
              <p class="mt20 legal_total">{{show?legelCount:hideit}}</p>
            </section>
          </section>
        </section>
      </section>
    </section>

    <div class="soso flex alcenter bdb">
      <img class="search" src="images/searchs.png" alt="" style="width:14px; margin-right:10px" @click="search">
      <input class="search_text" type="text" style="background:transparent;" placeholder="搜索币种"
        data-localize="assets.search" @keyup="search" />
    </div>

    <!-- ================交易=============== -->
    <section class="level_con" style="padding-bottom: 50px;">
      <section>
        <ul class="deal_lists" v-if="type == 'trade'">
          <li v-for="item in Lists" :key="item.id">
            <a href="javascript:;" @click="links(item.currency)">
              <p class="flex between">
                <span class="blue bold">{{item.currency_name}}</span>
                <img src="images/arrrowr.png" alt="" style="width:12px;height:12px;">
              </p>
              <div class="flex">
                <div class="flex1">
                  <span class="ft12 blue2">{{canuse}}</span>
                  <p class="ftw" v-if="types == 2">
                    <span>{{show ? (item.change_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else-if="types == 0">
                    <span>{{show ? (item.lever_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else>
                    <span>{{show ? (item.legal_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                </div>
                <div class="flex1 tc">
                  <span class="ft12 blue2" data-localize="assets.lock">{{frezz}}</span>
                  <p class="ftw" v-if="types == 2">
                    <span> {{show ? (item.lock_change_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else-if="types == 0">
                    <span>{{show ? (item.lock_lever_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else>
                    <span>{{show?(item.lock_legal_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                </div>
                <div class="flex1 tr">
                  <span class="ft12 blue2" data-localize="assets.conversion">{{conversion}}($)</span>
                  <p class="white_gray" v-if="types == 2">
                    <span>{{show ? ((item.usdt_price-0)*(item.change_balance-0)).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="white_gray" v-else-if="types == 0">
                    <span>{{show ? ((item.usdt_price-0)*(item.lever_balance-0)).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="white_gray" v-else>
                    <span>{{show ? ((item.usdt_price-0)*(item.legal_balance-0)).toFixed(8) : hideit}}</span>
                  </p>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <!-- <ul class="deal_lists" v-if="type == 'lever'">
          <li v-for="item in Lists" :key="item.id" v-if="item.is_lever == 1">
            <a href="javascript:;" @click="links(item.currency)">
              <p class="flex between">
                <span class="blue bold">{{item.currency_name}}</span>
                <img src="images/arrrowr.png" alt="" style="width:12px;height:12px;">
              </p>
              <div class="flex">
                <div class="flex1">
                  <span class="ft12 blue2">{{canuse}}</span>
                  <p class="ftw" v-if="types == 2">
                    <span>{{show ? (item.change_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else-if="types == 0">
                    <span>{{show ? (item.lever_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else>
                    <span>{{show ? (item.legal_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                </div>
                <div class="flex1 tc">
                  <span class="ft12 blue2" data-localize="assets.lock">{{frezz}}</span>
                  <p class="ftw" v-if="types == 2">
                    <span> {{show ? (item.lock_change_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else-if="types == 0">
                    <span>{{show ? (item.lock_lever_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else>
                    <span>{{show?(item.lock_legal_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                </div>
                <div class="flex1 tr">
                  <span class="ft12 blue2" data-localize="assets.conversion">{{conversion}}($)</span>
                  <p class="white_gray" v-if="types == 2">
                    <span>{{show ? ((item.usdt_price-0)*(item.change_balance-0)).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="white_gray" v-else-if="types == 0">
                    <span>{{show ? ((item.usdt_price-0)*(item.lever_balance-0)).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="white_gray" v-else>
                    <span>{{show ? ((item.usdt_price-0)*(item.legal_balance-0)).toFixed(8) : hideit}}</span>
                  </p>
                </div>
              </div>
            </a>
          </li>
        </ul> -->
        <ul class="deal_lists" v-if="type == 'legal'">
          <li v-for="item in Lists" :key="item.id" v-if="item.is_legal == 1">
            <a href="javascript:;" @click="links(item.currency)">
              <p class="flex between">
                <span class="blue bold">{{item.currency_name}}</span>
                <img src="images/arrrowr.png" alt="" style="width:12px;height:12px;">
              </p>
              <div class="flex">
                <div class="flex1">
                  <span class="ft12 blue2">{{canuse}}</span>
                  <p class="ftw" v-if="types == 2">
                    <span>{{show ? (item.change_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else-if="types == 0">
                    <span>{{show ? (item.lever_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else>
                    <span>{{show ? (item.legal_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                </div>
                <div class="flex1 tc">
                  <span class="ft12 blue2" data-localize="assets.lock">{{frezz}}</span>
                  <p class="ftw" v-if="types == 2">
                    <span> {{show ? (item.lock_change_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else-if="types == 0">
                    <span>{{show ? (item.lock_lever_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="ftw" v-else>
                    <span>{{show?(item.lock_legal_balance-0).toFixed(8) : hideit}}</span>
                  </p>
                </div>
                <div class="flex1 tr">
                  <span class="ft12 blue2" data-localize="assets.conversion">{{conversion}}($)</span>
                  <p class="white_gray" v-if="types == 2">
                    <span>{{show ? ((item.usdt_price-0)*(item.change_balance-0)).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="white_gray" v-else-if="types == 0">
                    <span>{{show ? ((item.usdt_price-0)*(item.lever_balance-0)).toFixed(8) : hideit}}</span>
                  </p>
                  <p class="white_gray" v-else>
                    <span>{{show ? ((item.usdt_price-0)*(item.legal_balance-0)).toFixed(8) : hideit}}</span>
                  </p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </section>
    </section>
  </div>
  <footer>
    <a href="index.html">
      <div>
        <p class="img img0"></p>
        <span data-localize="footer.home">首页</span>
      </div>
    </a>
    <a href="market.html">
      <div>
        <p class="img img1"></p>
        <span data-localize="footer.quotation">行情</span>
      </div>
    </a>
    <!-- <a href="fiatrad.html">
				<div>
						<p class="img img2"></p>
						<span>法币交易</span>
				</div>
				</a> -->
    <a href="transaction.html">
      <div>
        <p class="img img2"></p>
        <span data-localize="footer.currency">币币交易</span>
      </div>
    </a>
    <a class="hide" href="LeveragedDeals.html">
      <div>
        <p class="img img3"></p>
        <span data-localize="footer.lever">杠杆交易</span>
      </div>
    </a>
    <a href="assets.html" class="select">
      <div>
        <p class="img img4"></p>
        <span data-localize="footer.assets">资产</span>
      </div>
    </a>
      <a href="personal.html">
          <div>
              <p class="img img5"></p>
              <span data-localize="footer.personal">个人中心</span>
          </div>
      </a>
  </footer>
</body>

</html>

<script src="lib/jquery-1.8.3.min.js"></script>
<script src="lib/swiper.min.js"></script>
<script src="javascripts/jquery.cookie.js"></script>
<script src="lib/layer_mobile/layer.js"></script>
<script src="javascripts/jquery.cookie.js"></script>
<script src="lib/jquery.localize.min.js"></script><script src="lib/language_cookie.js"></script>
<script src="js/lang2.js"></script>
<script src="lib/vue.min.js"></script>
<script src="javascripts/main.js"></script>
<script src="javascripts/assets.js"></script>