<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/dataMap.css" />
	<link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css" />
	<link rel="stylesheet" href="lib/kline/kline.css">
</head>
<style>
	.flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.flex1 {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

	.between {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.around {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.alcenter {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.tab_list {
		display: none;
		padding-bottom: 20px;
	}

	html,
	body {
		overflow-x: hidden;
		overflow-y: scroll;
		height: 100%;
	}

	.kline {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: 400px;
		position: relative;
	}

	.hr {
		margin-top: 0;
		margin-bottom: 0;
		position: absolute;
		left: 0;
		top: 29px;
		z-index: 1;
		width: 100%;
	}

	.line {
		background: #061623;
		height: 4px;
	}

	[v-cloak] {
		display: none
	}

	div#header div.CNY ul {
		list-style: none;
		width: 40%;
	}

	div#header div.CNY div h4 span.red {
		color: #de5959;
	}

	.red {
		color: #de5959 !important;
	}

	.return {
		width: 20px;
	}
</style>

<body style="background-size: 100%;background:#061623;">
	<div id="app" v-cloak>
		<div id="header">
			<div class='header'>
				<p class="pull-left" onclick="location.href='market.html'">
					<img class="return" src="images/return1.png" alt="">
					<span class="coinname">{{symbol}}</span>
				</p>
				<!-- <p class="pull-right">
					<img src="images/location.png" />
				</p> -->
			</div>
			<div class="CNY">
				<div class="pull-left">
					<h2 :class="['new-price',{'red': updown.substring(0,1) == '-'}]">{{newprice | toFixed4}}</h2>
					<h4 class="flex alcenter">
						<span style="margin-left:5px"
							:class="['updown',{'red': updown.substring(0,1) == '-'}]">{{updown | toFixeds}}%</span>
					</h4>
				</div>
				<ul class="pull-right">
					<li class="flex alcenter between">
						<p data-localize="mk.high">高</p>
						<span class="max-price">{{maxprice | toFixed4}}</span>
					</li>
					<li class="flex alcenter between">
						<p data-localize="mk.low">低</p>
						<span class="min-price">{{minprice | toFixed4}}</span>
					</li>
					<li class="flex alcenter between">
						<p data-localize="mk.vol">24H量</p>
						<span class="dayVom">{{dayvom | toFixed4}}</span>
					</li>
				</ul>
			</div>
		</div>
		<div id="tv_chart_container" style="width:100%;height:55.0vh;margin-top: 5px;"></div>
		<div class="tab_content white_gray mt20 plr10 mb50" style="">
			<div class="tab_list complate_box">
				<div class="tt white flex alcenter mtb10">
					<span style="width:38%" data-localize="transaction.wtime">完成时间</span>
					<span class="flex1 tc" data-localize="transaction.wprice">完成价格</span>
					<span class="flex1 tr" data-localize="transaction.wnumber">完成数量</span>
				</div>
				<div class="con complete_rec">
					<!-- <div class="flex alcenter ptb10">
						<span class="flex1">2019-02-05</span>
						<span class="flex1 tc">买入</span>
						<span class="flex1 tc">2.00</span>
						<span class="flex1 tr">3.15</span>
					</div>				 -->
				</div>
			</div>
		</div>
	</div>
	<div id="bottom" class="clearfix">
		<button class="goTranbuy fl" data-localize="transaction.buy">买入（做多）</button>
		<button class="goTransell fr" data-localize="transaction.sell">卖出（做空）</button>
	</div>
	<script src="lib/vue.min.js"></script>
	<script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
	<script src="javascripts/jquery.cookie.js"></script>
	<script src="lib/layer_mobile/layer.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="lib/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/dataMap.js"></script>
	<script src="tradeview/charting_library/charting_library.min.js"></script>
	<script src="lib/jquery.localize.min.js"></script><script src="lib/language_cookie.js"></script>
	<script src="js/lang2.js"></script>
	<script>
		$(function () {
			window.name1 = '', window.name2 = '', window.coin_names = '';
			var url = 'timeshar';
			var params = get_all_params()
			var legal_id = params.legal_id;
			var currency_id = params.currency_id;
			var names2 = params.symbol.split('/');
			var spread = params.spread;
			var fee = params.fee;
			window.name1 = names2[1];
			window.name2 = names2[0];
			console.log(legal_id, currency_id, names2)
			var token = get_user_login();


			//点击买入
			// $('.goTranbuy').click(function () {
			// 	location.href = 'LeveragedDeals.html?id1=' + legal_id + '&id2=' + currency_id + '&name1=' + name1 + '&name2=' +
			// 		name2 + '&type=1'+'&spread='+spread+'&fee='+fee;
			// 	setlocal_storage('levertype', 'buy');
			// 	setlocal_storage('lever', {
			// 		"currency_name": name2,
			// 		"currency_id": currency_id,
			// 		"legal_name": name1,
			// 		"legal_id": legal_id,
			// 		"share_num": '',
			// 		'spread':spread,
			// 		'transactionFee':fee
			// 	});
			// })
			//点击卖出
			// $('.goTransell').click(function () {
			// 	location.href = 'LeveragedDeals.html?id1=' + legal_id + '&id2=' + currency_id + '&name1=' + name1 + '&name2=' +
			// 		name2 + '&type=2'+'&spread='+spread+'&fee='+fee;
			// 	setlocal_storage('levertype', 'sell');
			// 	setlocal_storage('lever', {
			// 		"currency_name": name2,
			// 		"currency_id": currency_id,
			// 		"legal_name": name1,
			// 		"legal_id": legal_id,
			// 		"share_num": '',
			// 		'spread':spread,
			// 		'transactionFee':fee
			// 	});
			// })

			//点击买入
			$('.goTranbuy').click(function () {
				location.href = 'transaction.html?id1=' + legal_id + '&id2=' + currency_id + '&name1=' + name1 +
					'&name2=' + name2 + '&type=1';
			})
			//点击卖出
			$('.goTransell').click(function () {
				location.href = 'transaction.html?id1=' + legal_id + '&id2=' + currency_id + '&name1=' + name1 +
					'&name2=' + name2 + '&type=2';
			})

			//成交记录
			$.ajax({
				type: 'post',
				url: _API + 'transaction/deal',
				data: {
					legal_id: legal_id,
					currency_id: currency_id,
				},
				beforeSend: function beforeSend(request) {
					request.setRequestHeader("Authorization", token);
				},
				success: function (res) {
					console.log(res);
					if (res.type == 'ok') {
						var complete_rec = '';
						$.each(res.message.complete, function (k, v) {
							if (res.message.complete[k].way == 1) {
								complete_rec +=
									`
								<div class="flex alcenter red ptb10">
										<span style="width:38%">${v.time.substring(11,19)}</span>
										<span class="flex1 tc">${v.price}</span>
										<span class="flex1 tr">${v.number}</span>
									</div>
								`
							} else {
								complete_rec +=
									`
								<div class="flex alcenter green ptb10">
										<span style="width:38%">${v.time.substring(11,19)}</span>
										<span class="flex1 tc">${v.price}</span>
										<span class="flex1 tr">${v.number}</span>
									</div>
								`
							}

						});
						$('.complete_rec').html(complete_rec);
						trade();
					}
				}
			})
			setInterval(function () {
				//成交记录
				$.ajax({
					type: 'post',
					url: _API + 'transaction/deal',
					data: {
						legal_id: legal_id,
						currency_id: currency_id,
					},
					beforeSend: function beforeSend(request) {
						request.setRequestHeader("Authorization", token);
					},
					success: function (res) {
						console.log(res);
						if (res.type == 'ok') {
							var complete_rec = '';
							$.each(res.message.complete, function (k, v) {
								if (res.message.complete[k].way == 1) {
									complete_rec +=
										`
								<div class="flex alcenter red ptb10">
										<span style="width:38%">${v.time.substring(11,19)}</span>
										<span class="flex1 tc">${v.price}</span>
										<span class="flex1 tr">${v.number}</span>
									</div>
								`
								} else {
									complete_rec +=
										`
								<div class="flex alcenter green ptb10">
										<span style="width:38%">${v.time.substring(11,19)}</span>
										<span class="flex1 tc">${v.price}</span>
										<span class="flex1 tr">${v.number}</span>
									</div>
								`
								}

							});
							$('.complete_rec').html(complete_rec);
							trade();
						}
					}
				})
			}, 3000)

			function timestampToTime(timestamp) {
				var date = new Date(timestamp * 1000); //时间戳为10位需*1000，时间戳为13位的话不需乘1000
				var Y = date.getFullYear() + '-';
				var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
				var D = date.getDate() > 10 ? date.getDate() + ' ' : ('0' + date.getDate()) + ' ';
				var h = date.getHours() > 10 ? date.getHours() + ':' : ('0' + date.getHours()) + ':';
				var m = date.getMinutes() > 10 ? date.getMinutes() + ':' : ('0' + date.getMinutes()) + ':';
				var s = date.getSeconds() > 10 ? date.getSeconds() : ('0' + date.getSeconds());
				return Y + M + D + h + m + s;
			}

			function trade() { //封装推送数据
				var that = this;
				//console.log('socket')
				var socketio = io(socket_api)
				var socket_user_id = (new Date()).getTime();
				socketio.emit('login', socket_user_id);
				socketio.on('match_trade', function (msg) {
					//console.log(msg);
					if (msg.type == 'match_trade') {
						if (legal_id == msg.legal_id && currency_id == msg.currency_id) {
							console.log(msg.data[0])
							var times = timestampToTime(msg.data[0].ts.toString().substr(0, 10))
							var prices = msg.data[0].price.toFixed(4)
							var numbers = msg.data[0].amount.toFixed(4)
							var way;
							msg.data[0].direction == 'buy' ? way = 1 : way = 2;
							var data = {
								price: prices,
								time: times,
								number: numbers,
								way: way
							}
							console.log(data)
							var length = $('.one').length;
							if (length > 15) {
								$('.complete_rec .one:last').remove()
							}
							// console.log(length)
							if (data.way == 1) {
								var complete_rec =
									`
									<div class="flex alcenter red ptb10 one">
											<span style="width:38%">${data.time.substring(12,20)}</span>
											<span class="flex1 tc">${data.price}</span>
											<span class="flex1 tr">${data.number}</span>
										</div>
									`
							} else {
								var complete_rec =
									`
									<div class="flex alcenter green ptb10 one">
											<span style="width:38%">${data.time.substring(12,20)}</span>
											<span class="flex1 tc">${data.price}</span>
											<span class="flex1 tr">${data.number}</span>
										</div>
									`
							}

							$('.complete_rec').prepend(complete_rec)

						}
					}
				});
			}
		});
	</script>
	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				widget: null,
				symbolInfo: null,
				feed: null,
				wsEx: null,
				ws: null,
				lists: [],
				newData: '',
				symbol: '',
				priceScale: 100000,
				histime: '',
				newprice: '0.00',
				updown: '0.00',
				maxprice: '0.00',
				minprice: '0.00',
				dayvom: '0.00',
				deList: [],

			},
			filters: {
				toFixeds: function (value) {
					value = Number(value);
					return value.toFixed(2);
				},
				toFixeds1: function (value) {
					value = Number(value);
					return value.toFixed(8);
				},
				toFixed4: function (value, options) {
					value = Number(value);
					return value.toFixed(4);
				}
			},
			created() {
				// this.symbol=window.localStorage.getItem('symbol');
				// this.priceScale=window.localStorage.getItem('priceScale');
				var paramsed = get_all_params();
				this.symbol = paramsed.symbol;
				// this.symbol='ETH/USDT';
			},
			sockets: {},
			computed: {
				listenState() { //监听交易对
					return this.symbol;
				}
			},
			watch: {
				listenState: function (a, b) { //监听交易对
					console.log(a)
					if (a != b && b != '') {
						this.widget.setSymbol(a, localStorage.getItem('tim'), function onReadyCallback() {}) //切换币种
						// this.$store.state.symbol=b
					}
				}
			},
			mounted() {
				this.createWidget();
				this.connects();
				let data = new Date();

			},
			destroyed() {
				this.removeWidget();
			},
			beforeDestroy() {

			},

			methods: {
				// 默认
				connect(real) { //封装推送数据
					var that = this;
					//console.log('socket')
					var socketio = io(socket_api)
					var socket_user_id = (new Date()).getTime();
					socketio.emit('login', socket_user_id);
					socketio.on('kline', function (msg) {
						//console.log(msg);
						if (msg.type == 'kline') {
							//console.log(msg)
							let obj = {}
							if (that.symbol == msg.symbol && msg.period == '1min') {
								obj.open = Number(msg.open)
								obj.low = Number(msg.low)
								obj.high = Number(msg.high)
								obj.close = Number(msg.close)
								obj.volume = Number(msg.volume)
								obj.time = Number(msg.time)
								real(obj)

							}
						}
					});
				},
				connects() { //封装推送数据
					var that = this;
					//console.log('socket')
					var socketio = io(socket_api)
					var socket_user_id = (new Date()).getTime();
					socketio.emit('login', socket_user_id);
					socketio.on('daymarket', function (msg) {
						//console.log(msg);
						if (msg.type == 'daymarket') {
							//console.log(msg)
							let obj = {}
							if (that.symbol == msg.symbol) {
								that.newprice = msg.close
								that.maxprice = msg.high
								that.minprice = msg.low
								that.dayvom = Number(msg.volume).toFixed(4);
								that.updown = msg.change;
							}
						}
					});
				},
				createWidget() {
					let _this = this;

					this.$nextTick(function () {
						let widget = _this.widget = new TradingView.widget({
							symbol: _this.symbol,
							interval: 1,
							debug: true,
							fullscreen: false,
							autosize: true,
							container_id: "tv_chart_container",
							// datafeed: new Datafeeds.UDFCompatibleDatafeed("http://demo_feed.tradingview.com"),
							datafeed: _this.createFeed(),
							library_path: "tradeview/charting_library/",
							custom_css_url: 'bundles/new.css',
							locale: "zh",
							width: "100%",
							height: 516,
							drawings_access: {
								type: 'black',
								tools: [{
									name: "Regression Trend"
								}]
							},
							disabled_features: [ //  禁用的功能
								'left_toolbar', 'widget_logo', 'header_saveload', 'compare_symbol', 'display_market_status',
								'go_to_date', 'header_chart_type', 'header_compare', 'header_interval_dialog_button',
								'header_resolutions', 'header_screenshot', 'header_symbol_search', 'header_undo_redo',
								'legend_context_menu', 'show_hide_button_in_legend', 'show_interval_dialog_on_key_press',
								'snapshot_trading_drawings', 'symbol_info', 'timeframes_toolbar',
								'use_localstorage_for_settings',
								'volume_force_overlay'
							],
							enabled_features: [ //  启用的功能（备注：disable_resolution_rebuild 功能用于控制当时间范围为1个月时，日期刻度是否都是每个月1号
								'dont_show_boolean_study_arguments', 'hide_last_na_study_output', 'move_logo_to_main_pane',
								'same_data_requery', 'side_toolbar_in_fullscreen_mode', 'disable_resolution_rebuild'
							],
							charts_storage_url: 'http://saveload.tradingview.com',
							charts_storage_api_version: "1.1",
							toolbar_bg: "transparent",
							timezone: "Asia/Shanghai",
							studies_overrides: {
								'volume.precision': '1000'
							},
							overrides: _this.overrides()
						});

						widget.MAStudies = [];
						widget.selectedIntervalButton = null;
						// widget.setLanguage('en')
						widget.onChartReady(function () { //图表方法
							// document.getElementById('trade-view').childNodes[0].setAttribute('style', 'display:block;width:100%;height:100%;');
							//let that =this

							widget.chart().createStudy('Moving Average', false, true, [15, 'close', 0], null, {
								'Plot.color': '#e843da'
							});
							widget.chart().createStudy("MA Cross", false, false, [10, 20]);

							// let buttonArr = [{
							// 		value: "1min",
							// 		period: "1",
							// 		text: "Time",
							// 		chartType: 3
							// 	},
							// 	{
							// 		value: "1",
							// 		period: "1m",
							// 		text: "1min",
							// 		chartType: 1
							// 	},
							// 	{
							// 		value: "5",
							// 		period: "5m",
							// 		text: "5min",
							// 		chartType: 1
							// 	},
							// 	// {
							// 	// 	value: "15",
							// 	// 	period: "15m",
							// 	// 	text: "15分钟",
							// 	// 	chartType: 1
							// 	// },
							// 	{
							// 		value: "30",
							// 		period: "30m",
							// 		text: "30min",
							// 		chartType: 1
							// 	},
							// 	{
							// 		value: "60",
							// 		period: "60分钟",
							// 		text: "1hour",
							// 		chartType: 1
							// 	},
							// 	{
							// 		value: "1D",
							// 		period: "1D",
							// 		text: "1day",
							// 		chartType: 1
							// 	},
							// 	{
							// 		value: "1W",
							// 		period: "1W",
							// 		text: "1week",
							// 		chartType: 1
							// 	},
							// 	{
							// 		value: "1M",
							// 		period: "1M",
							// 		text: "1mon",
							// 		chartType: 1
							// 	}
							// 	// {
							// 	// 	text: "更多",

							// 	// },
							// ];
							let buttonArr = [{
									value: "1min",
									period: "1",
									text: "分时",
									chartType: 3
								},
								{
									value: "1",
									period: "1m",
									text: "1分钟",
									chartType: 1
								},
								{
									value: "5",
									period: "5m",
									text: "5分钟",
									chartType: 1
								},
								{
									value: "15",
									period: "15m",
									text: "15分钟",
									chartType: 1
								},
								{
									value: "30",
									period: "30m",
									text: "30分钟",
									chartType: 1
								},
								{
									value: "60",
									period: "60分钟",
									text: "1小时",
									chartType: 1
								},
								{
									value: "1D",
									period: "1D",
									text: "1天",
									chartType: 1
								},
								{
									value: "1W",
									period: "1W",
									text: "1周",
									chartType: 1
								}, {
									value: "1M",
									period: "1M",
									text: "1月",
									chartType: 1
								}
							];
							let btn = {};
							let nowTime = '';
							buttonArr.forEach((v, i) => {
								// console.log(v)
								let button = widget.createButton()
								button.attr('title', v.text)
									.addClass("my2")
									.text(v.text)

								if (v.text == '1min') {
									button.css({
										'color': '#5786d2',
										'border-bottom': '1px solid #5786d2'
									})
									localStorage.setItem('tim', '1') //默认为1分钟
								}

								// console.log($(this),'999999'){}
								// if(v.text!=='更多'){
								btn = button.on("click", function (e) {
									$(this).parents(".left").children().find(".my2").removeAttr("style"); //去掉1分钟的
									handleClick(e, v.value);

									widget.chart().setChartType(v.chartType); //改变K线类型
								});
								// }else{
								// 	btn = button.on("click", function (e) {
								// 		$('.left').children(".group").css('display','inline-block !important');
								// 		console.log(e)
								// 	});
								// }



							});
							let handleClick = (e, value) => {
								console.log(value)
								_this.setSymbol = function (symbol, value) {
									gh.chart().setSymbol(symbol, value);
								};
								localStorage.setItem('tim', value)
								widget.chart().setResolution(value, function onReadyCallback() {}); //改变分辨率

								$(e.target)
									.addClass("mydate")
									.closest("div.space-single")
									.siblings("div.space-single")
									.find("div.button")
									.removeClass("mydate")
							};

						});


						_this.widget = widget;
					})
				},
				createFeed() {
					let this_vue = this;
					let Datafeed = {};


					Datafeed.DataPulseUpdater = function (datafeed, updateFrequency) {
						this._datafeed = datafeed;
						this._subscribers = {};

						this._requestsPending = 0;
						var that = this;

						var update = function () {
							if (that._requestsPending > 0) {
								return;
							}

							for (var listenerGUID in that._subscribers) {
								var subscriptionRecord = that._subscribers[listenerGUID];
								var resolution = subscriptionRecord.resolution;

								var datesRangeRight = parseInt((new Date().valueOf()) / 1000);


								//	BEWARE: please note we really need 2 bars, not the only last one
								//	see the explanation below. `10` is the `large enough` value to work around holidays
								var datesRangeLeft = datesRangeRight - that.periodLengthSeconds(resolution, 10);

								that._requestsPending++;

								(function (_subscriptionRecord) { // eslint-disable-line
									that._datafeed.getBars(_subscriptionRecord.symbolInfo, resolution, datesRangeLeft,
										datesRangeRight,
										function (bars) {
											that._requestsPending--;

											//	means the subscription was cancelled while waiting for data
											if (!that._subscribers.hasOwnProperty(listenerGUID)) {
												return;
											}

											if (bars.length === 0) {
												return;
											}

											var lastBar = bars[bars.length - 1];
											if (!isNaN(_subscriptionRecord.lastBarTime) && lastBar.time < _subscriptionRecord
												.lastBarTime) {
												return;
											}

											var subscribers = _subscriptionRecord.listeners;

											//	BEWARE: this one isn't working when first update comes and this update makes a new bar. In this case
											//	_subscriptionRecord.lastBarTime = NaN
											var isNewBar = !isNaN(_subscriptionRecord.lastBarTime) && lastBar.time >
												_subscriptionRecord.lastBarTime;

											//	Pulse updating may miss some trades data (ie, if pulse period = 10 secods and new bar is started 5 seconds later after the last update, the
											//	old bar's last 5 seconds trades will be lost). Thus, at fist we should broadcast old bar updates when it's ready.
											if (isNewBar) {
												if (bars.length < 2) {
													throw new Error(
														'Not enough bars in history for proper pulse update. Need at least 2.');
												}

												var previousBar = bars[bars.length - 2];
												for (var i = 0; i < subscribers.length; ++i) {
													subscribers[i](previousBar);
												}
											}

											_subscriptionRecord.lastBarTime = lastBar.time;

											for (var i = 0; i < subscribers.length; ++i) {
												subscribers[i](lastBar);
											}
										},

										//	on error
										function () {
											that._requestsPending--;
										});
								})(subscriptionRecord);
							}
						};

						if (typeof updateFrequency != 'undefined' && updateFrequency > 0) {
							setInterval(update, updateFrequency);
						}
					};

					Datafeed.DataPulseUpdater.prototype.periodLengthSeconds = function (resolution, requiredPeriodsCount) {
						var daysCount = 0;

						if (resolution === 'D') {
							daysCount = requiredPeriodsCount;
						} else if (resolution === 'M') {
							daysCount = 31 * requiredPeriodsCount;
						} else if (resolution === 'W') {
							daysCount = 7 * requiredPeriodsCount;
						} else {
							daysCount = requiredPeriodsCount * resolution / (24 * 60);
						}

						return daysCount * 24 * 60 * 60;
					};

					Datafeed.DataPulseUpdater.prototype.subscribeDataListener = function (symbolInfo, resolution,
						newDataCallback,
						listenerGUID) {
						this._datafeed._logMessage('Subscribing ' + listenerGUID);

						if (!this._subscribers.hasOwnProperty(listenerGUID)) {
							this._subscribers[listenerGUID] = {
								symbolInfo: symbolInfo,
								resolution: resolution,
								lastBarTime: NaN,
								listeners: []
							};
						}

						this._subscribers[listenerGUID].listeners.push(newDataCallback);
					};

					Datafeed.DataPulseUpdater.prototype.unsubscribeDataListener = function (listenerGUID) {
						this._datafeed._logMessage('Unsubscribing ' + listenerGUID);
						delete this._subscribers[listenerGUID];
					};

					Datafeed.Container = function (updateFrequency) {
						this._configuration = {
							supports_search: false,
							supports_group_request: false,
							supported_resolutions: ['1', '3', '5', '15', '30', '60', '120', '240', '360', '720', '1D', '3D',
								'1W', '1M'
							],
							supports_marks: true,
							supports_timescale_marks: true,
							exchanges: ['gh']
						};

						this._barsPulseUpdater = new Datafeed.DataPulseUpdater(this, updateFrequency || 10 * 1000);
						// this._quotesPulseUpdater = new Datafeed.QuotesPulseUpdater(this);

						this._enableLogging = true;
						this._callbacks = {};

						this._initializationFinished = true;
						this._fireEvent('initialized');
						this._fireEvent('configuration_ready');
					};

					Datafeed.Container.prototype._fireEvent = function (event, argument) {
						if (this._callbacks.hasOwnProperty(event)) {
							var callbacksChain = this._callbacks[event];
							for (var i = 0; i < callbacksChain.length; ++i) {
								callbacksChain[i](argument);
							}

							this._callbacks[event] = [];
						}
					};

					Datafeed.Container.prototype._logMessage = function (message) {
						if (this._enableLogging) {
							var now = new Date();
							console.log("CHART LOGS: " + now.toLocaleTimeString() + '.' + now.getMilliseconds() + '> ' + message);
						}
					};

					Datafeed.Container.prototype.on = function (event, callback) {
						if (!this._callbacks.hasOwnProperty(event)) {
							this._callbacks[event] = [];
						}

						this._callbacks[event].push(callback);
						return this;
					};

					Datafeed.Container.prototype.onReady = function (callback) {
						let that = this;
						if (this._configuration) {
							setTimeout(function () {
								callback(that._configuration);
							}, 0);
						} else {
							this.on('configuration_ready', function () {
								callback(that._configuration);
							});
						}
					};

					Datafeed.Container.prototype.resolveSymbol = function (symbolName, onSymbolResolvedCallback,
						onResolveErrorCallback) {
						this._logMessage("GOWNO :: resolve symbol " + symbolName);
						Promise.resolve().then(() => {
							console.log(this_vue.priceScale, '12345s313123122adaslast')


							// this._logMessage("GOWNO :: onResultReady inject "+'AAPL');
							console.log(this_vue.priceScale, '123stf')
							onSymbolResolvedCallback({
								"name": this_vue.symbol,
								"timezone": "Asia/Shanghai",
								"pricescale": this_vue.priceScale,
								"minmov": 1, //minmov(最小波动), pricescale(价格精度), minmove2, fractional(分数)
								"minmov2": 0, //这是一个神奇的数字来格式化复杂情况下的价格。
								"ticker": this_vue.symbol,
								"description": "",
								"type": "bitcoin",
								"volume_precision": 8,
								// "exchange-traded": "sdt",
								// "exchange-listed": "sdt",
								//现在，这两个字段都为某个交易所的略称。将被显示在图表的图例中，以表示此商品。目前此字段不用于其他目的。
								"has_intraday": true,
								"has_weekly_and_monthly": true,
								"has_no_volume": false, //布尔表示商品是否拥有成交量数据。
								'session': '24x7',
								'supported_resolutions': ['1', '3', '5', '15', '30', '60', '120', '240', '360', '720', '1D',
									'3D', '1W',
									'1M'
								]

							});
						})
					};


					//初始化数据
					Datafeed.Container.prototype.getBars = function (symbolInfo, resolution, rangeStartDate, rangeEndDate,
						onHistoryCallback, onErrorCallback) {
						// if (rangeStartDate > 0 && (rangeStartDate + '').length > 10) {
						//   throw new Error(['Got a JS time instead of Unix one.', rangeStartDate, rangeEndDate]);
						// }

						if (resolution.indexOf('D') == -1 && resolution.indexOf('W') == -1 && resolution.indexOf('M') == -1) {
							resolution = resolution + 'min'
						} else if (resolution.indexOf('W') != -1 || resolution.indexOf('M') != -1) {
							resolution = resolution
						}
						$.ajax({
							// url:'http://ice.adminchao.com/api/deal/info?' +
							url: _API + 'currency/new_timeshar?' +
								'from=' + rangeStartDate + '&to=' + rangeEndDate + '&symbol=' + symbolInfo.name + '&period=' +
								resolution,
							type: 'get',
							success: function (res) {
								if (res.code == 1 && res.data && res.data.length > 0) {
									res.data.forEach((item, i) => {
										item.open = Number(item.open)
										item.close = Number(item.close)
										item.high = Number(item.high)
										item.low = Number(item.low)
									})
									onHistoryCallback(res.data, {
										noData: false
									})
									onHistoryCallback([], {
										noData: true
									})

								}
								if (!res.data || res.code == -1) {
									onHistoryCallback([], {
										noData: true
									})
								}
								if (res.data && res.data.length == 0) {
									onHistoryCallback([], {
										noData: true
									})
								}

							}
						})

					};
					//实时数据
					Datafeed.Container.prototype.subscribeBars = function (symbolInfo, resolution, onRealtimeCallback,
						listenerGUID,
						onResetCacheNeededCallback) {
						this_vue.connect(onRealtimeCallback)

						//this._barsPulseUpdater.subscribeDataListener(symbolInfo, resolution, onRealtimeCallback, listenerGUID, onResetCacheNeededCallback);
					};

					Datafeed.Container.prototype.unsubscribeBars = function (listenerGUID) {

						this._barsPulseUpdater.unsubscribeDataListener(listenerGUID);

					};

					return new Datafeed.Container;
				},
				// updateData(data) {
				// 	if (data) {
				// 		console.log("emit real-time");
				// 		this.$emit('real-time', data);
				// 	}
				// },

				updateWidget(item) {
					this.symbolInfo = {
						name: item,
						ticker: item,
						description: "",
						session: "24x7",
						supported_resolutions: ['1', '5', '30', '60', '240', '1D', '3D', '1W', '1M'],
						has_intraday: true,
						has_daily: true,
						has_weekly_and_monthly: true,
						timezone: "UTC",
					}

					this.removeWidget();
					this.createWidget();
				},
				removeWidget() {
					if (this.widget) {
						this.widget.remove();
						this.widget = null;
					}
				},
				overrides() {
					let style = {
						up: "#589065",
						down: "#AE4E54",
						bg: "#131f30",
						grid: "#1E2740",
						cross: "#1E2740",
						border: "#4e5b85",
						text: "#61688A",
						areatop: "rgba(122, 152, 247, .1)",
						areadown: "rgba(122, 152, 247, .02)"
					};
					return {
						'volumePaneSize': "small", //large, medium, small, tiny
						'paneProperties.topMargin': '20',
						"scalesProperties.lineColor": style.bg,
						"scalesProperties.textColor": style.text,
						"paneProperties.background": style.bg, //改变背景色的重要代码
						"paneProperties.vertGridProperties.color": style.grid,
						"paneProperties.horzGridProperties.color": style.grid,
						"paneProperties.crossHairProperties.color": style.cross,
						"paneProperties.legendProperties.showLegend": true,
						"paneProperties.legendProperties.showStudyArguments": true,
						"paneProperties.legendProperties.showStudyTitles": true,
						"paneProperties.legendProperties.showStudyValues": true,
						"paneProperties.legendProperties.showSeriesTitle": true,
						"paneProperties.legendProperties.showSeriesOHLC": true,
						"mainSeriesProperties.candleStyle.upColor": style.up,
						"mainSeriesProperties.candleStyle.downColor": style.down,
						"mainSeriesProperties.candleStyle.drawWick": true,
						"mainSeriesProperties.candleStyle.drawBorder": true,
						"mainSeriesProperties.candleStyle.borderColor": style.border,
						"mainSeriesProperties.candleStyle.borderUpColor": style.up,
						"mainSeriesProperties.candleStyle.borderDownColor": style.down,
						"mainSeriesProperties.candleStyle.wickUpColor": style.up,
						"mainSeriesProperties.candleStyle.wickDownColor": style.down,
						"mainSeriesProperties.candleStyle.barColorsOnPrevClose": false,
						"mainSeriesProperties.hollowCandleStyle.upColor": style.up,
						"mainSeriesProperties.hollowCandleStyle.downColor": style.down,

						"mainSeriesProperties.hollowCandleStyle.drawWick": true,
						"mainSeriesProperties.hollowCandleStyle.drawBorder": true,
						"mainSeriesProperties.hollowCandleStyle.borderColor": style.border,
						"mainSeriesProperties.hollowCandleStyle.borderUpColor": style.up,
						"mainSeriesProperties.hollowCandleStyle.borderDownColor": style.down,
						"mainSeriesProperties.hollowCandleStyle.wickColor": style.line,
						"mainSeriesProperties.haStyle.upColor": style.up,
						"mainSeriesProperties.haStyle.downColor": style.down,
						"mainSeriesProperties.haStyle.drawWick": true,
						"mainSeriesProperties.haStyle.drawBorder": true,
						"mainSeriesProperties.haStyle.borderColor": style.border,
						"mainSeriesProperties.haStyle.borderUpColor": style.up,
						"mainSeriesProperties.haStyle.borderDownColor": style.down,
						"mainSeriesProperties.haStyle.wickColor": style.border,
						"mainSeriesProperties.haStyle.barColorsOnPrevClose": false,
						"mainSeriesProperties.barStyle.upColor": style.up,
						"mainSeriesProperties.barStyle.downColor": style.down,
						"mainSeriesProperties.barStyle.barColorsOnPrevClose": false,
						"mainSeriesProperties.barStyle.dontDrawOpen": false,
						"mainSeriesProperties.lineStyle.color": style.border,
						"mainSeriesProperties.lineStyle.linewidth": 1,
						"mainSeriesProperties.lineStyle.priceSource": "close",
						"mainSeriesProperties.areaStyle.color1": style.areatop,
						"mainSeriesProperties.areaStyle.color2": style.areadown,
						"mainSeriesProperties.areaStyle.linecolor": style.border,
						"mainSeriesProperties.areaStyle.linewidth": 1,
						"mainSeriesProperties.areaStyle.priceSource": "close"
					}
					// this.sty2()
				},


				chose() {
					// console.log(this.widget,'000')
					this.widget.setLanguage('en') //设置语言

					// this.$store.commit('symbol','sdt')
					// this.$store.state.symbol='sdt6456' //切换交易对
				}
			},
		})
	</script>
</body>

</html>