<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
</head>
<body>
    <div id="app" v-cloak>
        <header class="header">
            <a class="back mt5" href="javascript:history.go(-1)">
               
            </a>
            <h4 class="ftw ft16">登录</h4>
        </header>
        <div class="header-space"></div>
        <div id="login">
            <div class="logo">
                <img src="images/logo.png" style="width:50px" />
                <h5 class="white_gray mt10">登录BFC</h5>
            </div>
            <div class="theme">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control logtxt" id="name" v-model="userName" placeholder="请输入手机号" name="name" value="" @keyup="userConfirm" />
                        <p id="mes1" style="color:#cc704b;font-size: 12px;margin:5px 0 0 10px;"></p>
                    </div>
                    
                    <div class="form-group">
                        <input type="password" class="form-control logtxt" id="password" v-model="passwords" placeholder="请输入密码" name="password"
                            value="" @blur="passblur"  @keyup="passwordConfirm" />
                        <!-- <input type="text" class="form-control logtxt" id="text" placeholder="请输入密码" value="" style="display:none"
                            @blur="txtblur" /> -->
                        <img src="images/accountm.png" id="imgs" class='icons' @click="shpass" />
                        <p id="mes2" style="color:#cc704b;font-size:12px;margin:5px 0 0 10px;"></p>
                    </div>
                    <div class="form-group logincode">
                        <input type="text" class="form-control logtxt"  v-model="sms_code" placeholder="请输入验证码" />
                        <button type="button" class="code mt5" @click="getCode()">{{codeText}}</button>
                        <p id="code1" style="color:#cc704b;font-size: 12px;margin:5px 0 0 10px;"></p>
                    </div>
                    <div class="remember-password"><input v-model="checkboxValue" @change="selectInput();" type="checkbox"> <span>记住密码</span></div>
                    <a class="btn btn-default" id="sendLogin" @click="logon">登录</a>
                    <p id="mes3" style="color:#cc704b;font-size: 12px;margin:5px 0 0 10px;"></p>

                    <a class="help-block" href="forgetpass.html">忘记密码？</a>
                </form>
            </div>
            <div class="nocount">还没有BFC账号？<a href="../register.html">注册</a></div>
        </div>
    </div>
    <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="lib/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript" src="lib/vue.min.js"></script>
    <script type="text/javascript" src="javascripts/login.js"></script>
</body>

</html>