<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Pragma" content="no-cache"> 
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>我的矿池</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/pool.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <style>
      .wrap-tab {
        color: #fff;
      }

      .wrap-tab .lists:last-child {
        border: none;
      }

      .lists {
        padding: 10px;
        border-bottom: 1px solid #1b2a3e;
      }

      .lists span {
        display: block;
        text-align: center;
        line-height: 30px;
      }

      .lists button {
        width: 100px;
        border: none;
        outline: none;
        line-height: 30px;
        border-radius: 4px;
        background-color: #868686;
        color: #fff;
      }

      .lists .active {
        background-color: #1881d2;
        color: #fff;
      }

      .mr5 {
        margin-right: 5px;
      }

      .activeText {
        color: #02bf85;
      }

      .grayColor {
        color: #868686;
      }
      .card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 300px;
        margin-top: 20px;
      }
      .card span {
        font-size: 23px;
      }
      .card b {
        font-size: 30px;
      }
      .layui-m-layersection {
        color: #000 !important;
      }
      #activeCodeMsg{
        position: fixed;
        top: 50%;
        background: rgb(0, 0, 0);
        color: #fff;
        font-size: 15px;
        z-index: 99999999;
        padding: 10px;
        left: 50%;
        width: 100px;
        text-align: center;
        margin-left: -50px;
      }
      .hidden-item{
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app" v-cloak>
      <header>
        <!-- <div class='header'>
          <p class="pull-left" onclick="location.href='market.html'">
            <img class="return" src="./images/return1.png" alt="">
            <span class="coinname">矿池</span>
          </p>
          
        </div> -->
        <div class="t-header">
          <div class="t-headTop">
            <p>第{{poolInfo.days}}天</p>
            <p>{{poolInfo.price}}元/k</p>
            <p>{{cny}}元/usdt</p>
          </div>
          <div class="t-headMsg">
            <p>挖矿收益</p>
            <p>￥{{assets}}</p>
            <p>矿机算力: {{poolInfo.hashrate}}k/天</p>
          </div>
        </div>
      </header>
      <div id="main">
        <div id="jindu">
          <div id="progress-container">
            <img src="images/circle.png" />
            <p style="margin-top:-30px;">裂变{{poolInfo.fission_rate}}倍</p>
            <p class="blueText" style="top: 47%;">
              <span style="color: #ccc; font-size:13px;">
                {{day}}<span class="smallText">天</span> {{hour}}<span
                  class="smallText"
                  >时</span
                ><br />
              </span>
              {{minute}}<span class="smallText">分</span>&nbsp;{{second}}<span
                class="smallText"
                >秒</span
              >
            </p>
          </div>
          <div class="jinduRight">
            <p>合约母币: {{poolInfo.parentCoin}}k</p>
            <p>解冻子币: {{poolInfo.sonCoin}}k</p>
            <p>总币数量: {{poolInfo.allCoin}}k</p>
            <p>
              裂变子币:
              <span class="yellowText">{{poolInfo.grandsonCoin}}Moose</span>
            </p>
            <p @click="goDeal">去交易</p>
          </div>
        </div>
        <div class="listGroup">
          <div
            class="listItem"
            v-for="(wine,index) in wines"
            :key="index"
            @click="activePool(index, wine.status, wine.poolType)"
            :class="[{'hidden-item': wine.isHidden == true}]"
            :data="wine.poolType"
          >
            <div class="winePic">
              <img :src="wine.pic" />
            </div>
            <div class="wineName" >
              <p>{{wine.name}}</p>
              <p>算力: {{wine.suanli}}k/天</p>
            </div>
            <div class="wineNum">
              <p>{{wine.wineNum}}K+</p>
              <p>{{wine.status}}</p>
            </div>
            <div class="wineArrow">
              <img :src="wine.activeIcon" />
            </div>
          </div>
        </div>
      </div>
      <div id="activeCodeMsg" style="display: none;">发送成功</div>
    </div>
    <footer>
      <a href="index.html" class="select">
        <div>
          <p class="img img0"></p>
          <span data-localize="footer.home">首页</span>
        </div>
      </a>
      <a href="market.html">
        <div>
          <p class="img img1"></p>
          <span data-localize="footer.quotation">行情</span>
        </div>
      </a>
      <!-- <a href="fiatrad.html">
          <div>
              <p class="img img2"></p>
              <span>法币交易</span>
          </div>
      </a> -->
      <a href="transaction.html">
        <div>
          <p class="img img2"></p>
          <span data-localize="footer.currency">币币交易</span>
        </div>
      </a>
      <a class="hide" href="LeveragedDeals.html">
        <div>
          <p class="img img3"></p>
          <span data-localize="footer.lever">杠杆交易</span>
        </div>
      </a>
      <a href="assets.html">
        <div>
          <p class="img img4"></p>
          <span data-localize="footer.assets">资产</span>
        </div>
      </a>
    </footer>
    <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="lib/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="lib/vue.min.js"></script>
    <script src="lib/jquery.localize.min.js"></script><script src="lib/language_cookie.js"></script>
    <script type="text/javascript" src="js/lang2.js"></script>
    <script type="text/javascript" src="javascripts/main.js?v=2"></script>
    <script>
      var buyActiveCode = null;
      new Vue({
        el: "#app",
        data: {
          token: get_user_login(),
          activePoolToken: "",
          selectPoolType: 0,
          assets: 0,
          day: 88,
          hour: 88,
          minute: 88,
          second: 88,
          interval: null,
          interNum: 180,
          cny: 7,
          poolInfo: {
            parentCoin: 0,
            sonCoin: 0,
            grandsonCoin: 0,
            poolType: 0,
            hashrate: 0,
            allCoin: 0,
            price: 0,
            activeTime: new Date().getTime()
          },
          wines: [
            {
              pic: "./images/gold_mine.png",
              name: "金矿池",
              suanli: 100,
              wineNum: 10000,
              status: "未激活",
              activeIcon: "./images/right_arrow.png",
              isHidden: false,
              poolType: 1,
            },
            {
              pic: "./images/gold_mine.png",
              name: "金矿池",
              suanli: 70,
              wineNum: 7000,
              status: "未激活",
              activeIcon: "./images/right_arrow.png",
              isHidden: true,
              poolType: 4
            },
            {
              pic: "./images/sliver_mine.png",
              name: "银矿池",
              suanli: 21,
              wineNum: 3000,
              status: "未激活",
              activeIcon: "./images/right_arrow.png",
              isHidden: false,
              poolType: 2
            },
            {
              pic: "./images/cuprum_mine.png",
              name: "铜矿池",
              suanli: 5,
              wineNum: 1000,
              status: "未激活",
              activeIcon: "./images/right_arrow.png",
              isHidden: false,
              poolType: 3
            }
          ],
          progress: null
        },
        mounted: function() {
          let that = this;
          buyActiveCode = this.clickActiveCode;
          // $.ajax({
          //   // url: 'https://www.coinyee.pro/server/tickers',
          //   method: 'get',
          //   url: 'https://otc-api.huobi.co/v1/data/market/detail',
          //   dataType: 'json',
          //   success: (res) => {
          //     if(res.code === 200){
          //       res.data.detail.forEach((item) => {
          //         if(item.coinName === 'USDT'){
          //           that.cny = item.sell;
          //           that.assets = Math.floor(Number(that.poolInfo.allCoin) * that.poolInfo.price);
          //         }
          //       });
          //     }
              // if(res.error === 0){
              //   res.data.ticker_list.forEach((item) => {
              //     if(item.coin === 'USDT' && item.unit === 'CNY'){
              //         that.cny = Number(item.last).toFixed(2);
              //         that.assets = that.Math.floor(Number(that.poolInfo.allCoin) * that.poolInfo.price * that.cny);
              //     }
              //   });
              // }
          //   }
          // });
          // setTimeout(()=>{
            that.init();
          // },2000);
          
        },
        beforeDestroy() {
        },
        methods: {
          clickActiveCode(event){
            let token = get_user_login();
            var that = this;
              let params = {
                poolType: this.selectPoolType,
                user_string: '88888888888',
                country_code: '+86',//fixme
                scene: 'active_pool_code'
              };
                this.interval = setInterval(function(){
                  var num = that.interNum--;
                  $('#buyActiveCode').hide();
                  $('#countDown').show().text(num + 'S');
                  if(num <= 0){
                    clearInterval(that.interval);
                    that.interNum = 180;
                    $('#buyActiveCode').show();
                    $('#countDown').hide();
                  }
                }, 1000);
               
                // data: { "mobile": phone, "mobile_code": verify },
                $.ajax({
                    type: "post",
                    url: _API + 'sms_send',
                    data: params,
                    dataType: "json",
                    beforeSend:function beforeSend(request){
                      request.setRequestHeader('Authorization',token)
                    },
                    success: function (data) {
                            $('#activeCodeMsg').text(data.message).show();
                            var match = data.message.match(/\w+/);
                            var code =  match ? match[0] : '';
                            $('#poolCode').val(code);
                            setTimeout(function(){
                              $('#activeCodeMsg').hide();
                            }, 10000);
                    },
                    error: function(ex) {
                      console.log(ex);
                    }
                });
          },
          goDeal() {
            location.href = "transaction.html";
            // layer.open({
            //     title: ["确定转移裂变币到账户里交易？", "background-color:#000033; color:#fff;"],
            //     anim: "up",
            //     content:
            //       '裂变币将被划转到币币账户里进行交易',
            //     btn: ["确认", "取消"],
            //     yes: index => {
            //       $.ajax({
            //         url: "/api/userpond/transfer_fcoin",
            //         data: {},
            //         beforeSend: function(request) {
            //           request.setRequestHeader(
            //             "Authorization",
            //             get_user_login()
            //           );
            //         },
            //         type: "post",
            //         success: function(res) {
            //           console.log(res);
            //           if (res.message == 0) {
            //             layer.open({
            //               content: "Sorry,裂变币不足或已转出",
            //               style:
            //                 "background-color:#09C1FF; color:#fff; border:none;", //自定风格
            //               time: 3
            //             });
            //           } else {
            //             layer.close(index);
            //             location.href = "transaction.html";
            //           }
            //         },
            //         error: function(ex) {
            //           console.log(ex);
            //         }
            //       });
            //     }
            //   });
          },
          activePool(index, status, poolType) {
            if (status === "未激活") {
              this.selectPoolType = poolType;
              var totalNum = Number(this.poolInfo.parentCoin) + Number(this.poolInfo.sonCoin);
              // var poolNum = [10000, 3000, 1000, 7000][poolType - 1];
              layer.open({
                title: ["激活矿池", "background-color:#000033; color:#fff;"],
                anim: "up",
                content:'<div style="width:100%;"><label style="display:inline-block;">填入激活码:</label><input id="poolCode" style="border-bottom:1px solid #ccc;margin: 0 10px;color:#000; display:inline-block; width:80px;"/><b id="countDown" style="display:none;"></b><button onclick="buyActiveCode()" id="buyActiveCode" style="display:inline-block; background:none;border:none;padding:5px;">激活码</button></div>',//
                btn: ["确认", "取消"],
                yes: index => {
                  this.activePoolToken = $("input#poolCode").val();
                  $.ajax({
                    url: "/api/userpond/active_pool",
                    data: {
                      token: this.activePoolToken,
                      poolType: this.selectPoolType
                    },
                    beforeSend: function(request) {
                      request.setRequestHeader(
                        "Authorization",
                        get_user_login()
                      );
                    },
                    type: "post",
                    success: function(res) {
                      console.log(res);
                      if (res.type == 'error') {
                        var message = '';
                        if(res.message == 0){
                          message = "Sorry,余额不够,请尝试其它矿池"
                        }else{
                          message = res.message;
                        }
                        layer.open({
                          content: message,
                          style:
                            "background-color:#09C1FF; color:#fff; border:none;", //自定风格
                          time: 3
                        });
                      } else {
                        layer.close(index);
                        location.reload();
                      }
                    },
                    error: function(ex) {
                      console.log(ex);
                    }
                  });
                }
              });
            }
          },
          init() {
            var that = this;
            initDataTokens(
              {
                url: "userpond/super_coin"
              },
              function(res) {
                if (res.type == "ok") {
                  let data = res.message;
                  that.poolInfo = data;
                  let map = [10000, 3000, 1000];

                initDataTokens({
                url: "userpond/market_area"},
                function(res) {
                  if(res.message == 1){
                    $('.hidden-item').css('display', 'flex');
                    $('.hidden-item').prev().hide();
                  }
                });

                  that.wines.forEach((element, index) => {
                    if (
                      map[index] >
                        Number(data.allCoin) &&
                      data.poolType != 0
                    ) {
                      // if (index + 1 != data.poolType && data.poolType != 0) {
                      element.activeIcon = "./images/lock.png";
                      element.status = "已锁定";
                    }
                    if (element.poolType == data.poolType) {
                      element.status = "已激活";
                    }
                  });
                  that.cny = data.usdtPrice;
                  //计算总收益
                  that.assets =
                    Math.floor(Number(data.allCoin) * data.price);

                  //计算裂变倒计时
                  if (data.fissionTime) {
                    timer(data.fissionTime, "day");

                    function timer(timeStr, item) {
                      clearInterval(window._fissionTimer);
                      window._fissionTimer = setInterval(function() {
                        if(timeStr.indexOf('0000-00-00') >= 0){
                          timeStr = '2020-01-01 01:01:01';
                        }
                        let nowTime = new Date(timeStr) - new Date();
                        let minutes = parseInt((nowTime / 1000 / 60) % 60, 10); //计算剩余的分钟
                        let seconds = parseInt((nowTime / 1000) % 60, 10); //计算剩余的秒数

                        minutes = checkTime(minutes);
                        seconds = checkTime(seconds);
                        if (item === "day") {
                          let days = parseInt(
                            nowTime / 1000 / 60 / 60 / 24,
                            10
                          ); //计算剩余的天数
                          let hours = parseInt(
                            (nowTime / 1000 / 60 / 60) % 24,
                            10
                          ); //计算剩余的小时
                          days = checkTime(days);
                          hours = checkTime(hours);
                          that.day = days;
                          that.hour = hours;
                          that.minute = minutes;
                          that.second = seconds;
                          
                        } else {
                          let hours = parseInt(nowTime / (1000 * 60 * 60), 10); //计算剩余的小时
                          hours = checkTime(hours);
                        }
                      }, 1000);
                    }

                    function checkTime(i) {
                      //将0-9的数字前面加上0，例1变为01
                      if(i < 0){
                        i = 0;
                      }
                      if (i < 10) {
                        i = "0" + i;
                      }
                      return i;
                    }
                  }
                }
              }
            );
            //todo delete
            // that.datas = [
            //   {
            //     id: "123",
            //     created_at: "2020-01-20",
            //     status: 0,
            //     status_name: "金矿池",
            //     num: 9000,
            //     surplus_num: 100,
            //     original_number: 150,
            //     currency_id: 19,
            //     after_voting: "noting"
            //   }
            // ];
          },
          // 复投
          doubleThrow(currencyId, prizeId, afterVoting, status) {
            var that = this;
            var buttonStatus = true;
            if (status == 2) {
              if (buttonStatus) {
                buttonStatus = false;
                initDataTokens(
                  {
                    url: "userpond/after_voting",
                    data: {
                      currency_id: currencyId,
                      id: prizeId
                    },
                    type: "post"
                  },
                  function(res) {
                    buttonStatus = true;
                    if (res.type == "ok") {
                      layer_msg("复投成功");
                      that.init();
                      setTimeout(function() {
                        layer.open({
                          content: "是否激活复投？",
                          btn: [sure, ceil],
                          yes: function(index) {
                            layer_close();
                            that.activateReset(
                              currencyId,
                              prizeId,
                              afterVoting,
                              status
                            );
                          }
                        });
                      }, 500);
                    }
                  }
                );
              }
            }
          },
          activateReset(currencyId, prizeId, afterVoting, status) {
            var that = this;
            var buttonStatus = true;
            if (afterVoting == 1 && status == 0) {
              if (buttonStatus) {
                buttonStatus = false;
                initDataTokens(
                  {
                    url: "userpond/jihuo",
                    data: {
                      currency_id: currencyId,
                      id: prizeId
                    },
                    type: "post"
                  },
                  function(res) {
                    if (res.type == "ok") {
                      layer_msg("激活复投成功");
                      setTimeout(function() {
                        location.reload();
                      }, 500);
                    }
                  }
                );
              }
            }
          }
        }
      });
    </script>
  </body>
</html>
