<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>我的矿池11</title>
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<style>
		.wrap-tab {
			color: #fff;
		}

		.wrap-tab .lists:last-child {
			border: none;
		}

		.lists {
			padding: 10px;
			border-bottom: 1px solid #1B2A3E;
		}
    .width1{
			width: 14%;
		}
		.width2{
			width: 28%;
		}
		.width3{
			width: 36%;
		}
	</style>

</head>

<body>
	<div id="app" v-cloak>
		<header class="header">
			<a class="back mt5" href="javascript:history.go(-1)"> </a>
			<div class="tc ft16">矿池列表</div>
		</header>
		<div class="wrap-tab mt40">
			<ul>
				<li class="flex between lists">
					<p class="width1">币种</p>
					<p class="width2 tc">数量</p>
					<p class="width3 tc">信息</p>
					<p class="width2 tr">时间</p>
				</li> 
				<li class="lists flex between" v-for="item in datas">
						<p class="width1">{{item.currency_name}}</p>
						<p class="width2 tc">{{item.value || '0.00' |toFixeds}}</p>
						<p class="width3 tc">{{item.info}}</p>
						<p class="width2 tr">{{item.created_time}}</p>
				</li>
			</ul>

		</div>
	</div>
	<script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
	<script type="text/javascript" src="lib/layer_mobile/layer.js"></script>
	<script type="text/javascript" src="lib/vue.min.js"></script>
	<script src="lib/jquery.localize.min.js"></script><script src="lib/language_cookie.js"></script>
	<script type="text/javascript" src="js/lang2.js"></script>
	<script type="text/javascript" src="javascripts/main.js"></script>
	<script>
		var vue = new Vue({
			el: '#app',
			data: {
				token: get_user_login(),
				datas: [],
				afterVoting: "",
				status: "",
				currencyId: "",
				prizeId: ""


			},
			filters: {
				toFixeds: function (value) {
					value = Number(value);
					return value.toFixed(4);
				},

			},
			mounted: function () {
				let that = this;
				that.init();
			},
			methods: {
				init() {
					var that = this;
					initDataTokens({
						url: 'userpond/pondlog'
					}, function (res) {
						if (res.type == 'ok') {
							that.datas = res.message.data;
						}
					});
				},


			}
		});
	</script>
</body>

</html>