<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="css/common.css">
    <style>
        .topbox p {
            line-height: 40px;
            border-bottom: 1px solid #121f2f;
            padding: 0 10px;
        }
        .topbox p span:first-child{
            width: 80px;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <header class="header mainbg">
            <a class="back mt5" href="javascript:history.go(-1)">

            </a>
            <h4 class="ftw ft16">我的团队</h4>
        </header>
        <div class="header-space"></div>
        <div class="pd50 white">
            <div class="topbox">
                <!-- <p>
                    <span>总业绩：</span>
                    <span class="money">{{datas.total_yeji || 0}}</span>
                </p> -->
                <p>
                    <span>一类市场：</span>
                    <span class="man">{{datas.high_yeji || 0}}</span>
                </p>
                <p>
                    <span>二类市场：</span>
                    <span class="man">{{datas.low_yeji || 0}}</span>
                </p>
                <!-- <p>
                    <span>一类市场收益：</span>
                    <span class="man">{{datas.high_yeji_income || 0}}</span>
                </p> -->
                <p>
                    <span>二类市场总收益：</span>
                    <span class="man">{{datas.low_yeji_income || 0}}(每天释放1%)</span>
                </p>
                <p>
                    <span>已释放二类市场收益：</span>
                    <span class="man">{{datas.low_yeji_income_received || 0}}</span>
                </p>
                <p>
                    <span>总人数&nbsp;&nbsp;&nbsp;&nbsp;：</span>
                    <span class="man">{{datas.total_num || 0}}</span>
                </p>
                <p>
                    <span>直推人数：</span>
                    <span class="man">{{datas.zhitui_num || 0}}</span>
                </p>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="lib/vue.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="lib/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                datas: {}
            },

            mounted: function () {
                let that = this;
                that.init();
            },
            methods: {
                init() {
                    var that = this;
                    initDataTokens({
                        url: 'user/my_team'
                    }, function (res) {
                        if (res.type == 'ok') {
                            that.datas = res.message
                        }
                    });
                },
            }
        });
    </script>
</body>

</html>