@charset "UTF-8";
@font-face{font-family:ss3-latin;font-style:normal;font-weight:200;font-display:fallback;src:url(fonts/ss3-latin.woff2) format('woff2');ascent-override:126%;descent-override:54.75%}
@font-face{font-family:ss3-latin;font-style:normal;font-weight:300;font-display:fallback;src:url(fonts/ss3-latin.woff2) format('woff2');ascent-override:126%;descent-override:54.75%}
@font-face{font-family:ss3-latin;font-style:normal;font-weight:400;font-display:fallback;src:url(fonts/ss3-latin.woff2) format('woff2');ascent-override:126%;descent-override:54.75%}
@font-face{font-family:ss3-latin;font-style:normal;font-weight:500;font-display:fallback;src:url(fonts/ss3-latin.woff2) format('woff2');ascent-override:126%;descent-override:54.75%}
@font-face{font-family:ss3-latin;font-style:normal;font-weight:600;font-display:fallback;src:url(fonts/ss3-latin.woff2) format('woff2');ascent-override:126%;descent-override:54.75%}
@font-face{font-family:ss3-latin;font-style:normal;font-weight:700;font-display:fallback;src:url(fonts/ss3-latin.woff2) format('woff2');ascent-override:126%;descent-override:54.75%}
@font-face{font-family:ss3-latin;font-style:normal;font-weight:800;font-display:fallback;src:url(fonts/ss3-latin.woff2) format('woff2');ascent-override:126%;descent-override:54.75%}
@font-face{font-family:ss3-latin;font-style:normal;font-weight:900;font-display:fallback;src:url(fonts/ss3-latin.woff2) format('woff2');ascent-override:126%;descent-override:54.75%}
@font-face{font-family:ss3-fallback-mac;src:local('PT Sans');size-adjust:97.75%;ascent-override:100%;descent-override:30%}
@font-face{font-family:ss3-fallback-mac;src:local('PT Sans Bold');font-weight:700;size-adjust:99.75%}
@font-face{font-family:ss3-fallback;src:local('Arial');size-adjust:93.75%}
@font-face{font-family:ss3-fallback;src:local('Arial Bold');font-weight:700;size-adjust:89.5%}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
body,button,html,input,select,textarea{font-family:sans-serif;line-height:1.6}
.font-ss3-latin,.font-ss3-latin body,.font-ss3-latin button,.font-ss3-latin input,.font-ss3-latin select,.font-ss3-latin textarea{font-family:ss3-latin,ss3-fallback-mac,ss3-fallback,sans-serif}
button,input,select,textarea{font-size:.9375rem;line-height:1.2}
button{font-weight:600;background:0 0;margin:0}
code{font:0.75rem/1.6 Consolas,Monaco,monospace}
h1,h2,h3{font-weight:600;line-height:1.3}
h1,h2.bigger{font-size:1.625rem}
h2{font-size:1.375rem}
h2.smaller{font-size:1.1875rem}
h3{font-size:1.0625rem}
strong{font-weight:600}
table{font-size:.9375rem}
.table-dl td,.table-dl th{font-weight:400}
p{margin:1em 0}
sub,sup{font-size:80%;line-height:0}
sup{vertical-align:super}
.small,small{font-size:.75rem}
#header{font-size:15px;line-height:1;font-weight:600}
#logo{font-size:19px;line-height:1.5;font-weight:700}
#logo a{font-size:16px;font-weight:400;line-height:1}
#breadcrumbs{font-size:.9375rem}
#sidebar{font-size:.875rem}
.sidebar-box h3{font-size:1.25rem;font-weight:600}
#footer,#languages{font-size:.8125rem;line-height:1.5}
body,html{background:#efefef}
#content{width:590px;margin-left:18px}
#sidebar{background:#f0f6ff;width:314px;margin-left:20px;padding:7px 0;border-radius:0 2px 2px 0}
.sidebar-sticky{position:-webkit-sticky;position:sticky;top:0}
#container,.center{width:948px;box-sizing:border-box;margin-left:auto;margin-right:auto}
#container{background:#fff;box-shadow:0 2px 4px 2px #e7e7e7;display:flex;padding:3px;border-radius:4px}
#container.no-sidebar{display:block}
#container.no-sidebar #content{width:auto;margin-right:18px}
.layout-submenu{margin:1em 0;border-bottom:1px solid #e7e7e7;overflow-x:auto;white-space:nowrap}
.layout-submenu::-webkit-scrollbar{display:none}
.layout-submenu strong{font-weight:400}
.layout-submenu ul{display:flex}
.layout-submenu li:not(:last-child){margin-right:1.25em}
.layout-submenu a{color:#555;text-decoration:none;display:block;padding:0 .75em .5em;border-bottom:2px solid transparent;transition:border-color .25s}
.layout-submenu a:hover{color:#444;border-bottom-color:#ccc}
.layout-submenu .selected a{font-weight:600;color:#333;border-bottom-color:#d02020}
.a,a{color:#d02020;text-decoration:underline;cursor:pointer}
.a:hover,a:hover{color:#781212}
button{border:0 none}
hr{display:none}
.hide{visibility:hidden;position:absolute;left:0;top:-2000px}
.input-hide{position:absolute;z-index:-1}
.nowrap{white-space:nowrap}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.over-x{overflow-x:auto}
.clearfix:after{content:'.';font-size:0;clear:both;display:block;height:0;visibility:hidden}
.flash{color:#fff;background:#3eaf4e;font-weight:700;margin:1em 0;padding:.5em 1em;border-radius:4px;position:relative}
.flash.error{background:#e25d5d}
.form-errors li{color:#fff;background:#c83e3e;margin:1em 0;padding:.5em 1em;border-radius:5px}
.mobile-toggler{display:none}
#quiz-mini .info,#quiz.play .options,.next-element-toggle{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
#header{background:#094c92;box-shadow:0 0 6px 0 rgba(0,0,0,.4);margin:0 0 40px;display:flex;justify-content:space-between;position:relative;z-index:10001}
#header a{text-decoration:none}
#header .menu{display:flex;flex-grow:1}
#header .menu ul{display:flex;flex-grow:1}
#header .menu li{display:flex;flex-grow:1;justify-content:space-around;align-items:center;text-align:center;border-right:1px solid rgba(255,255,255,.1);position:relative}
#header .menu li a{color:rgba(255,255,255,.8)}
#header .menu li a:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%}
#header .menu li a:after{content:'';background:rgba(255,255,255,.4);display:block;width:8px;height:2px;margin-top:4px;transition:all .25s}
#header .menu li.current,#header .menu li:hover{background:rgba(0,0,0,.075)}
#header .menu li.current a,#header .menu li:hover a{color:#fff}
#header .menu li.current a:after,#header .menu li:hover a:after{width:100%;background:rgba(255,255,255,.5)}
#logo{color:#fff;background:#af0016;padding:0 18px 0 8px;height:60px;line-height:1;display:flex;align-items:center;white-space:nowrap;position:relative}
#logo:hover{background:#a00010}
#logo:before{content:'';background-image:url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24'%3e%3cpath fill='%23fff' d='M4.15,2.61l-1.47,12A5,5,0,0,0,6.1,16c3.28,0,4.14-2.75,7.82-2.75a8,8,0,0,1,4.72,1.68L17.53,24h2L22.47,0h-2l-.35,2.84a7.39,7.39,0,0,0-4.7-1.69C11.52,1.15,11.09,4,7.73,4A5.54,5.54,0,0,1,4.15,2.61ZM5.76,5.82A6.65,6.65,0,0,0,7.49,6,7.76,7.76,0,0,0,12.3,4.25a4.29,4.29,0,0,1,2.88-1.1A6.87,6.87,0,0,1,19.85,5.1l-.92,7.49a9.49,9.49,0,0,0-4.76-1.34A9.26,9.26,0,0,0,8.84,13a4.28,4.28,0,0,1-2.49,1,3.24,3.24,0,0,1-1.54-.41Z' /%3e%3c/svg%3e");width:30px;height:30px;margin-right:5px;position:relative;top:-1px}
#logo span{display:flex;flex-direction:column;justify-content:center}
#logo a{color:rgba(255,255,255,.8);display:block;margin:1px 0 3px}
#logo a:after{content:'';display:block;width:100%;height:100%;position:absolute;left:0;top:0}
#breadcrumbs{width:902px;margin:-25px auto 15px}
#breadcrumbs ol{color:#555;display:flex;overflow:auto;white-space:nowrap;padding:5px 0}
#breadcrumbs li:not(:first-child):before{font-weight:600;content:'›';display:inline-block;margin:0 9px}
#search-toggler{margin:0;padding:0;border:0 none;display:flex;transition:background-color .2s ease-out;cursor:pointer}
#search-toggler:before{content:'';opacity:.8;width:60px;height:60px;background:transparent none 50% 50% no-repeat;background-image:url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 446.25 446.25'%3E%3Cpath d='M318.75 280.5h-20.4l-7.649-7.65c25.5-28.05 40.8-66.3 40.8-107.1C331.5 73.95 257.55 0 165.75 0S0 73.95 0 165.75 73.95 331.5 165.75 331.5c40.8 0 79.05-15.3 107.1-40.8l7.65 7.649v20.4L408 446.25 446.25 408l-127.5-127.5zm-153 0C102 280.5 51 229.5 51 165.75S102 51 165.75 51 280.5 102 280.5 165.75s-51 114.75-114.75 114.75z' fill='%23fff' /%3E%3C/svg%3E")}
#search-toggler:focus,#search-toggler:hover{background:rgba(0,0,0,.1);outline:0}
#search-toggler:active{background:rgba(255,255,255,.05)}
#search{display:none;background:rgba(239,239,239,.7);position:absolute;left:0;top:60px;width:100%;height:calc(100% - 60px);z-index:10000;overflow-y:scroll}
.search-open{position:fixed;overflow-y:scroll;top:0;right:0;bottom:0;left:0}
.search-open #search{display:block}
.search-open #search-toggler:before{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='%23fff' d='M19 4q.43 0 .715.285T20 5q0 .422-.289.711L13.414 12l6.297 6.289Q20 18.578 20 19q0 .43-.285.715T19 20q-.422 0-.711-.289L12 13.414l-6.289 6.297Q5.422 20 5 20q-.43 0-.715-.285T4 19q0-.422.289-.711L10.586 12 4.289 5.711Q4 5.422 4 5q0-.43.285-.715T5 4q.422 0 .711.289L12 10.586l6.289-6.297Q18.578 4 19 4z'/%3E%3C/svg%3E")}
#search-inner{box-shadow:-5px 5px 10px rgba(0,0,0,.15);float:right;width:375px}
#search-form{background:#0253a8;display:flex;align-items:center;box-sizing:border-box;border-top:2px solid #00f;padding:10px 12px 11px;-webkit-position:sticky;position:sticky;top:0}
#search-form label{flex-grow:1}
#search-form input{font-size:1rem;height:32px;line-height:32px;box-sizing:border-box;padding:0 10px;border-radius:5px}
#search-input{width:100%;border:0 none}
#search-input:focus{box-shadow:0 none;outline:0}
#search-submit{-webkit-appearance:none;appearance:none;color:#fff;background:#c32020;margin-left:10px;border:0 none}
#search-results{background:#fff}
#search-results .flag{line-height:0}
#search-results .item{font-size:1rem;font-weight:400;color:#333;display:flex;align-items:center;padding:12px;text-decoration:none}
#search-results .item:nth-child(2n){background:#f8f8f8}
#search-results .item:not(:last-child){border-bottom:1px solid #e9e9e9}
#search-results .item:hover{background:#f3f3f3}
#search-results .item:hover:nth-child(2n){background:#f0f0f0}
#search-results .item:hover .name span{color:#781212}
#search-results .item.focused{background:#094c92!important}
#search-results .item.focused img{border-color:rgba(0,0,0,.5)}
#search-results .item.focused .name span{color:#fff}
#search-results .item.focused .description{color:rgba(255,255,255,.8)}
#search-results .item.focused code{color:#fff;background:#002448}
#search-results img{border:1px solid #ddd}
#search-results .text{line-height:1.3;margin:-2px 0 0 12px}
#search-results .name{font-size:.875rem;font-weight:600}
#search-results .name span{color:#d02020;margin-right:.2em;text-decoration:underline}
#search-results code{font-size:.625rem;font-weight:700;background:#e9e9e9;margin-left:.25em;padding:.2em .4em;border-radius:5px;vertical-align:.0625rem}
#search-results .description{font-size:.8125rem;font-weight:400;color:#777;margin-top:.3em}
.sidebar-box{margin:0 21px 10px;padding:10px 0;border-bottom:1px solid #cbddf7}
.sidebar-box h3{margin:0;line-height:1.3}
#footer{color:#696969;width:906px;margin:0 auto;box-sizing:border-box}
#footer .sections{display:flex;padding:2.25rem 0 1.5rem}
#footer nav{width:206px}
#footer h3{font-size:100%;color:#666;margin:0 0 1em;text-transform:uppercase}
#footer li{margin:0 0 .25em}
#footer a{color:#666;text-decoration:none;overflow-wrap:break-word;-webkit-hyphens:auto;hyphens:auto}
#footer a:hover{color:#000;text-decoration:underline}
#footer .languages a:xbefore{content:attr(lang);font-family:monospace;color:#999;padding-right:.5em}
#footer .languages a:after{content:' (' attr(lang) ')';color:#999}
#footer .copyright{text-align:center;border-top:1px solid #ddd;padding:1.25rem 0}
h1,h2,h3{color:#0b4c92}
h1,h2{background-image:linear-gradient(90deg,#d86170 5px,#bc4a59 8px,#fef0f1 8px,#fff 64px);margin:.6em 0 .6em -29px;padding:.5em 0 .5em 29px;border-radius:4px 0 0 4px;position:relative}
h1,h2.bigger{margin-top:7px}
h1+p{margin-top:-.25em}
h2.smaller{font-weight:700;background-image:none;height:auto;margin:1.75em 0 1em;padding:0 0 .4em;border-bottom:3px solid #ececec;border-radius:0}
h2.smaller:before{display:none}
.with-gap{margin-top:1.5em}
#content h3{font-weight:700;padding-bottom:.4em;border-bottom:2px solid #ececec}
#content h3.a{color:#f34343}
.content-btn-wrapper{display:flex}
.content-btn{background:#fbfbfb;height:40px;line-height:40px;padding:0 1.5em;border-radius:4px}
.content-btn:hover{background:#f9f9f9}
.content-btn-fb{color:#fff;background:#4267b2;padding-left:10px;text-decoration:none}
.content-btn-fb:hover{color:#fff;background:#1877f3}
.content-btn-fb svg{vertical-align:-4px;padding-right:10px}
.next-element-toggle{position:relative;cursor:pointer}
.next-element-toggle:hover{text-decoration:underline}
.next-element-toggle:after{content:'';display:inline-block;width:20px;height:20px;margin-left:.4em;border-radius:50%;vertical-align:-4px;background:#d0d0d0 url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%22white%22 width=%2210%22 height=%2210%22 viewBox=%220 0 20 20%22%3E%3Cpath d=%22M19 6.25l-1.5-1.5-7.5 7.5-7.5-7.5L1 6.25l9 9 9-9z%22/%3E%3C/svg%3E') 50% 55% no-repeat}
.next-element-toggle:hover:after{background-color:#bbb}
.next-element-toggled:after{transform:rotateX(180deg)}
.next-element-hidden{display:none}
.next-element-hidden-show{display:block}
.emoji{font-size:40px;line-height:0;display:inline-block;vertical-align:middle;text-decoration:none}
.perex{font-size:.9375rem;line-height:1.6;color:#444;background:#f8f8f8;padding:.75em 1em;border-radius:4px}
.perex a{color:#000}
.perex a:hover{color:#d02020}
.hint{font-size:110%;background:#fff4db;xbox-shadow:inset 0 0 10px 4px #f8ebcd;padding:.7em;border-radius:4px;text-align:center;position:relative}
.hint a{display:block}
.hint a:after{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%}
[data-clipboard]{position:relative}
.copied:before{content:'OK';font-family:sans-serif;font:700 12px/30px sans-serif;background:#f34343;color:#fff;width:30px;height:30px;margin:-15px 0 0 -15px;border:2px solid #fff;border-radius:50%;text-align:center;position:absolute;left:50%;top:50%}
.copied:before{animation:xx 1.5s forwards;transform:scale(.5);opacity:1}
@keyframes xx{
50%{transform:scale(1);opacity:1}
100%{transform:scale(2);opacity:0}
}
.ul-list{line-height:1.4;margin:1em 0}
.ul-list li{margin:.33em 0;padding:0 0 0 1.875rem;position:relative}
.ul-list li:before{content:'';width:.25rem;height:.25rem;border:.125rem solid #1d62a9;border-radius:50%;position:absolute;left:.8125rem;top:.5rem}
.ul-list ul{margin:0 0}
.table-dl em,.table-dl span,.ul-list em,.ul-list span{color:#777}
p+.ul-list{margin-top:-.5em}
.table-dl{width:100%;margin:1em 0;border-bottom:1px solid #eee}
.table-dl td,.table-dl th{margin:0;padding:5px 0;border-top:1px solid #eee;text-align:left;vertical-align:top}
.table-dl th{width:30%;padding-right:.5em;color:#666}
.table-dl td{width:70%}
.table-dl .a-off{color:#000;text-decoration:none}
.table-dl .bool{font-size:.875rem;color:#fff;background:#aaa;display:inline-block;padding:0 .75em;border-radius:4px;position:relative;top:-1px}
.table-dl .bool.bool-true{background:#2b8237}
.table-dl .bool.bool-false{background:#c83e3e}
form .table-dl{border-bottom:0 none}
p+.table-dl{margin-top:1.5em}
.table-dl-download{width:100%;margin:1em 0}
.table-dl-download td,.table-dl-download th{width:auto;margin:0;padding:.4em .6em;border:1px solid #eee;text-align:left;vertical-align:top}
.table-dl-download th{font-weight:600;color:#333}
.table-dl-download td:first-child,.table-dl-download th:first-child{text-align:right;width:15%;white-space:nowrap}
.links-list{font-size:.9375rem;line-height:1.3;margin:1em 0}
.links-list ul{display:flex;flex-wrap:wrap;justify-content:space-between}
.links-list li{width:calc(33.33% - 5px)}
.links-list li:nth-child(n+4){margin-top:10px}
.links-list a{background:#fafafa;box-sizing:border-box;display:block;height:100%;padding:14px;border-radius:4px;display:flex;align-items:center;text-decoration:none}
.links-list a:before{content:'';margin-right:8px;border:4px solid transparent;border-left-color:#bbb;border-right:0 none}
.links-list a:hover{background:#f2f2f2}
.links-list a:hover:before{border-left-color:#999}
.form-search{margin:1em 0 2em;padding:0}
.form-search fieldset{padding:.5em 2em 1em;border:1px solid #caeaff}
.form-search legend{padding:0 1em;border:0 none;font-weight:700}
.ul-split{width:85%}
.ul-split ul{margin-top:0;width:50%;float:left}
#currency img{border:1px solid #999;margin:.4em 0;padding:2px;vertical-align:middle}
.rm-ins{display:block}
.flag-detail{line-height:0;margin-bottom:.8rem}
.flag-detail img{border:5px solid #f0f6ff}
.flag-note{font-size:.9375rem;line-height:1.4;background:#fff9e4;margin:.7rem 0;padding:.5em .9em;border-radius:4px}
.flag-buttons{font-size:15px;line-height:1.2;margin:.7rem 0}
.flag-buttons ul{display:flex}
.flag-buttons li{display:flex;align-items:stretch}
.flag-buttons li:not(:last-child){margin-right:.7rem}
.flag-buttons a{color:#555;background:#f3f3f3;display:flex;align-items:center;min-height:2.375rem;padding:0 1.1em 0 .8em;border-radius:4px;text-decoration:none}
.flag-buttons a span{flex-shrink:0;line-height:0;display:flex;align-items:center;font-size:32px;margin-right:-.25rem}
.flag-buttons a strong{font-weight:400;flex-grow:0;margin:0 0 0 .6em;padding:.5em 0;text-decoration:underline;text-decoration-color:#aaa}
.flag-buttons a:hover{color:#000;background:#e6e6e6}
.flag-buttons a:hover svg{fill:#666}
.flag-buttons .arrow:before{flex-shrink:0;content:'';width:20px;height:20px;background:transparent none 50% 50% no-repeat;background-image:url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23888' d='M20 10A10 10 0 1110 0a10 10 0 0110 10zM8.23 5.32V10H5.37a.49.49 0 00-.35.83l4.64 4.61a.5.5 0 00.68 0L15 10.83a.48.48 0 00-.34-.83h-2.89V5.32a.48.48 0 00-.48-.48H8.71a.48.48 0 00-.48.48z'/%3E%3C/svg%3E")}
.flag-content{font-size:1rem;margin:.7rem 0}
.emoji-info{line-height:1.3;background:#fff7e5;margin:1.33em 0 0;padding:.5em 1.25em;border-radius:4px}
.emoji-info .copy{font-weight:600;font-size:15px;display:flex;align-items:center}
.emoji-info button,.emoji-info input{box-sizing:border-box}
.emoji-info input{font-size:26px;width:2em;height:1.33em;line-height:1.33em;margin:0 12px;border:1px solid rgba(0,0,0,.25);border-radius:4px;text-align:center}
.emoji-info button{font-size:.875rem;color:#fff;background:#c50e24;height:30px;line-height:30px;padding:0 14px;border-radius:4px;text-decoration:none;transition:background .5s;cursor:pointer}
.emoji-info button:hover{background:#555}
.emoji-platforms{display:flex;justify-content:space-between;flex-wrap:wrap;margin:1.25em 0 0}
.emoji-platforms li{background:#fafafa;display:flex;flex-direction:column;align-items:center;width:188px;margin:0 0 22px 0;border-radius:4px;text-decoration:none}
.emoji-platforms li:nth-child(3n){margin-right:0}
.emoji-platforms .wrapper{background:#fff;line-height:0;margin:1.5em 0 0;position:relative}
.emoji-platforms .wrapper:after,.emoji-platforms .wrapper:before{content:'';background:#dfdfdf;display:block;width:1px;height:120%;position:absolute;top:-10%;left:-1px}
.emoji-platforms .wrapper:after{left:auto;right:-1px}
.emoji-platforms .wrapper span{display:block}
.emoji-platforms .wrapper span:after,.emoji-platforms .wrapper span:before{content:'';background:#dfdfdf;display:block;width:130%;height:1px;position:absolute;top:-1px;left:-15%}
.emoji-platforms .wrapper span:after{top:auto;bottom:0}
.emoji-platforms .wrapper .your{font-size:96px;line-height:1}
.emoji-platforms .name{font-size:.9375rem;font-weight:600;line-height:1.3;display:block;padding:1.125em 15px;text-align:center;color:#0a4c91}
#map-wrapper{margin:1em 0 1.25em}
#map{height:500px}
.flag-grid{margin:18px 0 22px;display:grid;grid-template-columns:repeat(3,1fr);grid-column-gap:13px;grid-row-gap:22px}
.flag-grid li{box-sizing:border-box}
.flag-grid .rklm{grid-column:1/4;grid-row:2/3;min-height:334px;margin:-12px 0;padding:25px 0;border:0 dashed #ddd;border-width:2px 0;text-align:center;vertical-align:middle}
.flag-grid a{line-height:0;background:#fafafa;display:block;padding:18px 0;border-radius:4px;text-align:center;text-decoration:none}
.flag-grid a:hover{background:#f2f2f2}
.flag-grid a:hover img{border-color:#d6d6d6}
.flag-grid a[data-note]{padding-bottom:8px}
.flag-grid a[data-note] span{padding-top:2px}
.flag-grid a[data-note]:after{content:"(" attr(data-note) ")";font-size:.875rem;line-height:1.3;color:#777;display:block;padding-top:1px}
.flag-grid span{font-size:.9375rem;font-weight:600;line-height:1.3;display:block;padding:11px 15px 0;text-decoration:underline}
.flag-grid img{max-width:calc(100% - 14px);border:2px solid #ebebeb}
.flag-table{width:100%;margin:1em 0;counter-reset:table-counter}
.flag-table td,.flag-table th{padding:.4em .7em .4em .3em;border-bottom:1px solid #ddd;text-align:left}
.flag-table th{color:#666;font-weight:400;padding-top:0;border-bottom-width:2px;vertical-align:bottom}
.flag-table tr:hover td{background:#f8f8f8}
.flag-table tr:nth-of-type(2n){background:#fcfcfc}
.flag-table .number{width:1px;text-align:right}
.flag-table td.number{counter-increment:table-counter}
.flag-table td.number:before{content:counter(table-counter) '.'}
.flag-table.reverse td.number{counter-increment:table-counter -1}
.flag-table .flag{width:1px;text-align:center}
.flag-table td.flag{padding-top:0;padding-bottom:0;vertical-align:middle}
.flag-table img{vertical-align:middle;max-width:36px;max-height:27px}
.flag-table .value{width:1px;text-align:right;white-space:nowrap}
.flag-table button{font-size:.9375rem;color:#666;padding:0;outline:0 none;text-decoration:underline;cursor:pointer}
.flag-table button:hover{color:#000}
.flag-table .sortable button{display:inline-flex;align-items:center}
.flag-table .sortable button:after{content:'';background:#eee;display:inline-block;margin-left:6px;width:6px;height:6px;border-radius:50%}
.flag-table .sortable.asc button,.flag-table .sortable.desc button{color:#0253a8;font-weight:600;text-decoration:none}
.flag-table .sortable.asc button:after{background:0 0;width:0;height:0;margin-left:4px;border-radius:0;border:4px solid transparent;border-bottom-color:currentColor;border-top:0 none}
.flag-table .sortable.desc button:after{background:0 0;width:0;height:0;margin-left:4px;border-radius:0;border:4px solid transparent;border-top-color:currentColor;border-bottom:0 none}
.flag-tools{font-size:.875rem;display:flex;min-height:31px}
.flag-tools>li{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;position:relative;z-index:9999}
.flag-tools>li:not(:last-child){margin-right:16px}
.flag-tools>li ul{display:none;box-shadow:0 2px 20px 0 rgba(0,0,0,.2);background:#fff;margin-top:8px;border:1px solid #ccc;border-radius:4px;white-space:nowrap;position:absolute}
.flag-tools>li li{cursor:pointer;padding:8px 12px}
.flag-tools>li li:not(:first-child){border-top:1px solid #eee}
.flag-tools>li li.delimiter{border-top:1px solid #ccc}
.flag-tools>li li:hover{background:#f8f8f8}
.flag-tools>li li:first-child{border-radius:4px 4px 0 0}
.flag-tools>li li:last-child{border-radius:0 0 4px 4px}
.flag-tools>li .links li{padding:0}
.flag-tools>li .links li a{color:#000;display:block;padding:8px 12px;text-decoration:none}
.flag-tools>li.on button{border-color:#d02020}
.flag-tools>li.on button:after{border:4px solid transparent;border-bottom-color:#444;border-top:0 none}
.flag-tools>li.on ul{display:block}
.flag-tools button{font-size:.875rem;line-height:1.3;color:#0253a8;display:flex;align-items:center;padding:5px 16px;border:1px solid #ddd;border-radius:100px;text-align:left;outline:0 none;cursor:pointer}
.flag-tools button span{font-weight:400;color:#666;padding-right:.4em}
.flag-tools button span:after{content:':'}
.flag-tools button strong{font-weight:600}
.flag-tools button:after{content:'';display:inline-block;margin-left:8px;border:4px solid transparent;border-top-color:#919191;border-bottom:0 none}
.flag-tools button:focus,.flag-tools button:hover{border-color:#bbb;outline:0}
.flag-tools button:focus:after,.flag-tools button:hover:after{border-top-color:#5e5e5e}
.hph{width:910px;margin:0 auto;margin-top:44px;padding:0 0 42px}
.hph h1{font-size:2.75rem;font-weight:700;color:#333;background:transparent none;margin:0;padding:0}
.hph a:after{content:'';display:inline-block;width:10px;height:10px;margin-left:7px;position:relative;right:0;transition:.2s right}
.hph a:hover:after{right:-4px}
.hph p{font-size:1.3125rem;line-height:1.4;font-weight:600;color:#666;margin:5px 0 9px;white-space:nowrap}
.hph p span{white-space:normal;display:block}
.hph p a{font-size:.875rem;font-weight:400;color:#555;display:inline-flex;align-items:center;margin:0 0 0 6px;padding:3px 15px;border:1px solid silver;border-radius:15px;text-decoration:none;vertical-align:2px;transition:.25s all}
.hph p a:hover{border-color:#777}
.hph p a:after{margin-left:4px;width:8px;height:8px;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 256 256'%3E%3Cpolygon fill='rgba(0,0,0,.5)' points='79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128'/%3E%3C/svg%3E")}
.hph ul{display:flex}
.hph ul li{margin-top:15px}
.hph ul li:not(:last-child){margin-right:17px}
.hph ul a{font-size:1rem;font-weight:600;color:#fff;background:#b90000;display:block;padding:7px 24px;border-radius:100px;text-decoration:none;white-space:nowrap;transition:.25s background}
.hph ul a:hover{background:#555}
.hph ul a:after{display:none}
.download-options{display:flex;justify-content:center;margin:1.5em 0 1.25em}
.download-options div{display:flex;align-items:center;flex-direction:column}
.download-options div:not(:last-child){margin-right:1em}
.download-options div a{font-weight:600;line-height:1.4;color:#fff;background:#c32020;box-shadow:1px 3px 0 0 #ddd;display:inline-block;padding:.5em 2em;border-radius:30px;text-align:center;text-decoration:none;transition:background .25s}
.download-options div a:hover{background:#af0016}
.download-options div a span{font-size:.875rem;font-weight:400;color:rgba(255,255,255,.75);display:block}
.download-options div em{font-size:.875rem;color:#888;margin-top:.5em}
.about-page .introduction{font-size:1.25rem;line-height:1.6;margin:0}
.about-page .smaller{font-size:1.0625rem;margin-top:1.5rem;margin-bottom:.8em}
.about-page .smaller+p{margin-top:.8em}
.about-page .references .items{display:flex;align-items:center;padding:0 40px}
.about-page .references .item{flex-basis:33.33%;text-align:center}
.about-page .references .update{line-height:1.2;display:flex;flex-direction:column-reverse;text-align:center}
.about-page .references .update span{font-size:30px;font-weight:600;color:#de001c}
.about-page .references .update strong{font-size:16px;font-weight:400;color:#666;padding-bottom:3px}
.about-page a{text-decoration-color:#aaa}
.about-page a:hover{text-decoration-color:#888}
.about-page code{background:#f5f5f5;padding:.25em .5em;border-radius:5px}
.privacy-page h2{margin-top:1.25em}
.privacy-page h3{margin-top:1.5em}
.privacy-page h2+h3{margin-top:0}
.privacy-page .ul-list .mg{margin-top:.75em}
.quiz-options{display:flex;justify-content:space-between}
.quiz-options>div{font-size:13px;background:#f1f9ff;box-shadow:inset 0 0 4px 0 #caeaff;width:calc(50% - 40px);padding:12px 17px;border-radius:5px;position:relative}
.quiz-options h2{font-size:1.125rem;margin:0 0 .2em;padding:0;border:0 none;position:static}
.quiz-options p{color:#444;margin:0}
.quiz-options a{display:block}
.quiz-options .a:after,.quiz-options a:after{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%}
.quiz-results{display:flex;justify-content:space-between;margin:1em 0}
.quiz-results>div{width:calc(50% - 10px)}
.quiz-results h3{margin-top:2em}
.quiz-results h3:first-child{margin-top:0}
.quiz-result{color:#333;font:12px sans-serif;width:100%;border-collapse:collapse;box-shadow:0 0 2px 1px #e7e7e7}
.quiz-result td,.quiz-result th{padding:.66em .8em;border-bottom:1px solid #eee;text-align:right}
.quiz-result th{background:#f5f5f5;padding:.8em}
.quiz-result .even td{background:#f9f9f9}
.quiz-result tr:hover td{background:#eee;border-bottom:1px solid #ddd}
.quiz-result img{margin-right:.3em;vertical-align:-2px}
.quiz-result .num{color:#777;text-align:right;width:1px}
.quiz-result .date{width:100px;white-space:nowrap}
.quiz-result .name{text-align:left}
.quiz-result .name span{display:block;width:127px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.quiz-result .ok{color:#1daa1a}
.quiz-result .wrong{color:#d1280c}
.quiz-result .score{color:#222;font-weight:700;text-align:right;padding-right:1.2em}
.quiz-result .score a{color:#000;text-decoration:none}
.quiz-result .score a:hover{color:#e13434;text-decoration:underline}
.quiz-result .medal{font-weight:700;padding-top:.8em;padding-bottom:.8em}
.quiz-result .medal span{color:#fff;background:#eee;font-weight:700;text-shadow:0 1px 0 #555;box-shadow:0 0 4px 0 #ddd;display:inline-block;width:24px;height:24px;line-height:24px;margin:0 -.8em 0 0;border:1px solid #ddd;border-radius:13px;text-align:center}
.quiz-result .medal-1 span{background:#f7df5a;border-color:#cfb62e}
.quiz-result .medal-2 span{background:#bdbdbd;border-color:#a8a8a8}
.quiz-result .medal-3 span{background:#c3663f;border-color:#a44d29}
#quiz form{margin:0}
#quiz .flag{background:#fff url('quiz-bottom.png') 0 100% no-repeat;max-width:590px;min-height:221px;margin:1.5em 0;position:relative}
#quiz .flag .num{color:#ddd;font-size:35px;position:absolute;top:30px;right:30px}
#quiz .flag .num em{font-size:16px}
#quiz .flag .image{background:transparent url('quiz-header.png') 0 0 no-repeat;height:170px}
#quiz .flag .image span{background:transparent url('quiz-flag.png') 100% 0 no-repeat;float:left;height:100px;margin-left:22px;padding:22px 107px 0 0}
#quiz .flag .image img{border:2px solid #eee}
#quiz .flag .options{line-height:1.8;margin:-8px 0 0;padding:0 22px 12px}
#quiz .flag .options .column{float:left;width:50%}
#quiz .flag .options span{display:block}
#quiz .flag .options span strong{color:#333;font-weight:400;float:left;width:18px}
#quiz .ok .options span strong,#quiz .wrong .options span strong{color:#ccc}
#quiz .flag .options span.ok a{color:green;font-weight:700}
#quiz .flag .options span.ok strong{color:#000}
#quiz .wrong .options span.selected a{color:#f34343}
#quiz .ok .num{color:green}
#quiz .wrong .num{color:#f34343}
#quiz .flag input,#quiz .flag label{cursor:pointer}
#quiz .flag label{color:#f34343;display:inline;margin:0;padding:0}
#quiz .flag label:hover{color:#be0000;text-decoration:underline}
#quiz .status,#quiz .status div{height:3px}
#quiz .status{background:#eee;margin:1em 0}
#quiz .status div{transition:width .5s;background:#bbb;width:0}
#quiz div.tac{margin:1em 0}
.result .options a{color:#bbb;text-decoration:none}
.result .options a:hover{text-decoration:underline}
#quiz .stats{background:#fafafa;box-shadow:inset 0 0 4px 0 #eee;background:#f1f9ff;box-shadow:inset 0 0 4px 0 #caeaff;padding:.7em 1em;border-radius:5px}
#quiz .stats .section{float:left;width:31%;margin-right:3%;border-right:1px solid #caeaff}
#quiz .stats .half{width:14%}
#quiz .stats .last{width:28%;border:0 none}
#quiz .stats h3{color:#666;margin:.25em 0 .2em;padding:0;border:0 none}
#quiz .stats small{color:#888}
#quiz .stats .pie{line-height:0;float:left;margin-right:.8em}
#quiz .stats .ok-wrong{float:left}
#quiz .stats .ok-wrong span{font-size:90%}
#quiz .stats .award{font-size:80%;margin-top:1em;padding-top:.9em;border-top:1px solid #caeaff;text-align:center}
#quiz .stats .award p{display:inline;margin:0}
#quiz .stats .award p:after,#quiz .stats .award p:before{content:'';display:inline-block;width:16px;height:16px;margin:0 .5em;background:transparent url('award.png') 0 0 no-repeat;vertical-align:middle}
#quiz p{word-break:break-all}
table.color{width:100%;margin:1em 0;border:0 none;border-collapse:collapse}
h2+table.color{margin-top:0}
table.color td,table.color th{padding:.4em .75em;border-bottom:1px solid #ddd}
table.color th{color:#666;font-weight:400;padding-top:0;border-bottom-width:2px;vertical-align:bottom}
table.color tr:hover td{background:#f8f8f8}
table.color tr:nth-of-type(2n){background:#fcfcfc}
table.hover-off tr:hover td{background:0 0}
table.color .td-flag{padding:0;text-align:center}
table.color .td-flag img{vertical-align:top;border:1px solid #666}
table.color .td-num{text-align:right}
table.color .td-beer,table.color .td-formation,table.color .td-gdp,table.color .td-mountain_height{padding-right:.7em;text-align:right}
table.color .td-area,table.color .td-beer,table.color .td-population{padding-left:.5em;text-align:right}
table.color .td-country{width:52%}
table.color .td-capital{width:45%}
table.color .td-mountain{width:52%}
table.color .td-area,table.color .td-flag,table.color .td-gdp,table.color .td-mountain_height,table.color .td-num,table.color .td-population{width:1%}
table.color .td-codepoints{white-space:nowrap}
table.color .td-codepoints code{background:#f0f0f0;padding:.25em .5em;border-radius:2px}
table.color .td-codepoints code:not(:last-child){margin-right:1px}
table.color.js-width td{box-sizing:border-box;width:auto}
#quiz-big>p{color:#555;margin:1.125em 0 1.5em}
#quiz-big>p a{color:#666}
#quiz-big>p a:hover{color:#d02020}
#quiz-big .bar-wrapper{display:flex;align-items:center;margin:1.5em 0 0}
#quiz-big .bar{flex-grow:1;background:#f8f8f8;display:flex;height:8px;border-radius:4px}
#quiz-big .bar div{background:#f4f4f4;width:0;height:100%;border-radius:4px;position:relative;transition:width .25s}
#quiz-big .bar div span{font-size:13.91304348px;font-weight:600;color:#888;background:#e8e8e8;width:32px;height:32px;line-height:32px;border-radius:50%;text-align:center;position:absolute;right:-16px;top:-12px;color:#fff;background:#adadad}
#quiz-big .bar div span:after{content:'.';opacity:.5;position:absolute}
#quiz-big .settings{margin-left:20px}
#quiz-big .settings>button{font-size:.875rem;font-weight:400;color:#999;display:flex;align-items:center;padding:4px 12px;border:1px solid #ddd;border-radius:6px;cursor:pointer;transition:all .25s}
#quiz-big .settings>button svg{margin-right:8px}
#quiz-big .settings>button svg path{fill:#666}
#quiz-big .settings>button:hover{color:#064c91;border-color:#064c91}
#quiz-big .settings>button:hover svg path{fill:#064c91}
#quiz-big .game{display:flex;align-items:flex-start;position:relative;margin:2em 0 1.75em}
#quiz-big .end,#quiz-big .overlay{display:none;box-sizing:border-box;width:100%;height:100%;padding:15px;position:absolute;left:0;top:0;z-index:10}
#quiz-big .overlay{cursor:not-allowed}
#quiz-big .end{flex-direction:column;flex-wrap:wrap;justify-content:center;text-align:center}
#quiz-big .end p{font-size:1.25rem;font-weight:600;width:100%}
#quiz-big .end button{color:#fff;background:#d02020;padding:1em 2em;border:0 none;border-radius:30px}
#quiz-big .end button:hover{background:#781212}
#quiz-big .game-wrapper{position:relative}
#quiz-big .is-end .end{display:flex}
#quiz-big .is-end .game{opacity:.2;filter:blur(3px)}
#quiz-big .image{line-height:0;flex:0 0 320px;border:2px solid #eee}
#quiz-big .options{flex-grow:1;display:grid;grid-template-columns:repeat(2,1fr);grid-auto-flow:row dense;grid-column-gap:12px;grid-row-gap:12px;margin-left:16px}
#quiz-big .options button{grid-column-start:1;color:#000;background:#fafafa;padding:0;border-radius:4px;position:relative;cursor:pointer;display:flex;transition:box-shadow .2s .2s,background .25s}
#quiz-big .options button.second{grid-column-start:2}
#quiz-big .options button:hover{background:#f3f3f3}
#quiz-big .options button:focus{outline:0;box-shadow:0 0 12px 0 #aaa}
#quiz-big .options button.true{background:#d4ecce}
#quiz-big .options button.true strong{color:#fff;background:#24a206}
#quiz-big .options button.false{background:#ffe4e4}
#quiz-big .options button.false strong{color:#fff;background:#da1010}
#quiz-big .options button strong{flex:0 0 30px;font-size:18px;font-weight:700;color:rgba(0,0,0,.3);background:rgba(0,0,0,.025);display:flex;align-items:center;justify-content:flex-end;width:30px;height:100%;padding-right:10px;border-radius:4px 0 0 4px;transition:background .1s;position:absolute;left:0;top:0;z-index:2}
#quiz-big .options button span{min-height:18px;padding:.75em 1em .75em 55px;text-align:left;position:relative;z-index:2}
#quiz-big .prev{font-size:.9375rem;color:#444;display:none;margin:2.5em 0 1em;line-height:1.3;justify-content:space-between;align-items:flex-start}
#quiz-big .prev>div{flex:0 0 48.75%;border-radius:2px}
#quiz-big .prev>div.correct .item{background:#f3f7f2}
#quiz-big .prev>div.correct .items:before{border-color:#76af6b}
#quiz-big .prev>div.wrong .item{background:#fff4f4}
#quiz-big .prev>div.wrong .items:before{border-color:#c94b40}
#quiz-big .prev .label{color:#999;display:block;padding:0 0 1.5em;text-align:center}
#quiz-big .prev .items{display:flex;flex-wrap:wrap;justify-content:center;position:relative}
#quiz-big .prev .items:before{opacity:.6;content:'';display:block;width:102%;height:8px;box-sizing:border-box;border:1px solid #ddd;border-bottom:0 none;border-radius:5px 5px 0 0;position:absolute;left:-1%;top:-4px}
#quiz-big .prev .item{flex:0 0 33.33%;box-sizing:border-box;padding:20px 10px 18px;text-align:center;border:0 solid #fff;border-width:0 2px 2px 0}
#quiz-big .prev .item:nth-child(3n){border-right:0 none}
#quiz-big .prev .item span{line-height:0;display:inline-block;padding:1px;border:1px solid rgba(0,0,0,.25)}
#quiz-big .prev .item div{margin-top:.5em}
#quiz-big .status{line-height:1;display:flex;padding-bottom:1.25em}
#quiz-big .status>div{display:flex;align-items:stretch;color:#fff;border-radius:4px;margin-right:15px}
#quiz-big .status span{display:flex;align-items:center;color:rgba(255,255,255,.9);font-size:.875rem;font-weight:400;padding:0 11.2px 0 14px}
#quiz-big .status strong{display:flex;align-items:center;font-size:.9375rem;font-weight:700;color:#fff;background:rgba(255,255,255,.1);padding:6px 14px 6px 11.2px}
#quiz-big .status label{font-weight:400;color:#333}
#quiz-big .status .counter{background:#0072bb}
#quiz-big .status .counter strong{font-weight:400}
#quiz-big .status .counter strong em{font-weight:700}
#quiz-big .status .correct{background:#3e9f4c}
#quiz-big .status .wrong{background:#c83e3e}
#quiz-big .status .mode{font-size:.875rem;color:#333;margin:0}
#quiz-big .status .mode div{display:flex;align-items:center;background:#fff;padding:0 12px 0 8px;border:1px solid #ddd;border-radius:8px;overflow:hidden;position:relative;transition:all .25s}
#quiz-big .status .mode div:hover{background:#f3f3f3;border-color:#bbb}
#quiz-big .status .mode input{margin-right:.5em}
#quiz-big .status .mode label{cursor:pointer}
#quiz-big .status .mode label:after{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%}
#quiz-big .status .reset{justify-content:flex-end}
#quiz-big .status .reset button{font-size:.875rem;font-weight:400;background:#fff;border:1px solid #ddd;border-radius:8px;padding:0 12px;transition:all .25s}
#quiz-big .status .reset button:hover{background:#f3f3f3;border-color:#bbb}
#quiz-hint{font-size:.9375rem;background:#f4f4f4;box-shadow:0 2px 4px 2px #e7e7e7;margin-top:2.25rem;padding:32px;border-radius:4px}
#quiz-hint h2{font-size:1.625rem;font-weight:600;background-image:none;margin:0;padding:0;border-radius:0}
#quiz-hint h2 a{color:#555;text-decoration:none}
#quiz-hint h2 a:hover{text-decoration:underline}
#quiz-hint p{color:#666;margin:.9em 0 1.25em}
#quiz-hint strong{font-weight:600;color:#444}
#quiz-hint em{color:#111}
#quiz-hint div{font-weight:600;display:flex}
#quiz-hint div a{line-height:1.3;color:#666;background:#f7f7f7;padding:.66em 1.5em;border:2px solid #dedede;border-radius:30px;text-decoration:none;transition:all .25s}
#quiz-hint div a:not(:last-child){margin-right:1rem}
#quiz-hint div a:hover{color:#fff;background:#444;border-color:#444}
#quiz-mini .status{display:flex;margin:8px 0 10px}
#quiz-mini .status div{font-size:.8125rem;color:#fff;margin-right:8px;padding:0 8px;border-radius:3px}
#quiz-mini .status strong{padding-right:3px}
#quiz-mini .counter{background:#0072bb}
#quiz-mini .correct{background:#2b8237}
#quiz-mini .wrong{background:#c83e3e;margin-right:0}
#quiz-mini .image{line-height:0;min-height:124px;margin:10px 0}
#quiz-mini img{box-sizing:border-box;max-width:100%;height:124px;border:2px solid #d0dae8}
#quiz-mini small{font-size:100%}
#quiz-mini .options,#quiz-mini .result{min-height:96px}
#quiz-mini .result{font-size:1rem;box-sizing:border-box;padding-top:.2em}
#quiz-mini .result button{font-size:1rem;font-weight:500;color:#d53b39;background:#fff;margin:.7em 0 0;padding:1em 2em;border-radius:4px;cursor:pointer}
#quiz-mini .result button:hover{box-shadow:0 0 2px 0 #094c91}
#quiz-mini .result button:after{content:'→';padding-left:.5em}
#quiz-mini .options button{font-size:.875rem;color:#d53b39;background:#fff;box-sizing:border-box;display:flex;margin:6px 0 0;padding:0;border-radius:4px;position:relative;cursor:pointer}
#quiz-mini .options button:hover{box-shadow:0 0 2px 0 #094c91}
#quiz-mini .options button:focus{outline:0;box-shadow:0 0 6px 0 #094c91}
#quiz-mini .options button.true{background:#d4ecce}
#quiz-mini .options button.true strong{color:#fff;background:#24a206}
#quiz-mini .options button.false{background:#ffe4e4}
#quiz-mini .options button.false strong{color:#fff;background:#da1010}
#quiz-mini .options button strong{font-size:.8125rem;color:#d53b39;color:#094c91;display:flex;align-items:center;justify-content:flex-end;width:23px;height:100%;border-radius:4px 0 0 4px;transition:background .1s;position:absolute;left:0;top:0;z-index:2;background:#d6e3f7;padding-right:8px}
#quiz-mini .options button span{font-weight:400;min-height:16px;padding:.4em 1em .4em 32px;text-align:left;position:relative;z-index:1;padding-left:42px}
#quiz-mini-result{display:none}
.download p{font-size:1.0625rem;margin:0}
.download .api h2{margin-bottom:0;padding:0 0 0 2rem;border-bottom:0 none}
.download .api h2+.html,.download .api h2+.sizes,.download .api h2+.url{margin-top:1rem}
.download .api .sizes{background:#f9f9fb;padding:20px 2rem 12px;display:flex;flex-wrap:wrap}
.download .api .sizes button{font-size:13px;font-weight:400;color:#666;background:#fdfdfd;margin:0 5px 8px 0;padding:2px 9px;border:1px solid #ccc;border-radius:11px;cursor:pointer}
.download .api .sizes button:focus,.download .api .sizes button:hover{color:#444;border-color:#aaa;outline:0}
.download .api .sizes .selected{color:#d02020!important;background:#fff!important;border-color:#d02020!important}
.download .api .url{background:#f9f9fb;margin:1.5em 0;padding:2rem;border-radius:5px}
.download .api .url code{font-size:18px;font-weight:400;line-height:1;color:#888;background:#fff;box-shadow:0 1px 3px rgba(50,50,50,.1);display:flex;padding:1em 1em;border-radius:5px}
.download .api .url code>span{flex-shrink:0;position:relative}
.download .api .url code>span em{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-family:sans-serif;font-size:13px;font-weight:400;letter-spacing:0;background:#fff;box-shadow:0 0 3px 0 rgba(0,0,0,.33);display:block;margin-bottom:-21px;padding:5px 10px;border-radius:4px;white-space:nowrap;position:absolute;bottom:-100%;left:50%;transform:translateX(-50%)}
.download .api .url code>span em:after,.download .api .url code>span em:before{content:'';margin-left:-10px;border:10px solid transparent;border-bottom-color:#ccc;border-top:0 none;position:absolute;left:50%;top:-11px}
.download .api .url code>span em:after{border-bottom-color:#fff;top:-10px}
.download .api .url code>span.p-top em{top:-100%;bottom:auto;margin-top:-22px;margin-bottom:0}
.download .api .url code>span.p-top em:after,.download .api .url code>span.p-top em:before{border:10px solid transparent;border-top-color:#ccc;border-bottom:0 none;top:auto;bottom:-11px}
.download .api .url code>span.p-top em:after{border-top-color:#fff;bottom:-10px}
.download .api .url code .p-default{color:#555}
.download .api .url code .p-important{color:#d02020;padding:0 1px}
.download .api .html{background:#f9f9fb;margin:1.5em 0;padding:2rem;border-radius:5px}
.download .api .html code{white-space:nowrap;font-size:.875rem;font-weight:700;color:#888;background:#fff;box-shadow:0 1px 3px rgba(50,50,50,.1);display:block;padding:.75em 1em;border-radius:5px}
.download .api .html code .code-tag{color:#2d7725}
.download .api .html code .code-attr{color:#074c91}
.download .api .html code .code-value{color:#c50f25}
.download .api .html code .code-tag{color:#2d7725}
.download .api .html code em{font-weight:700;color:#000}
.download .api .html code .blink{content:'';display:inline-block;width:2px;height:1em;margin:0 2px 0 3px;vertical-align:-1px;animation:1s infinite step-end d1}
.download .preview{display:flex;justify-content:center;margin:1.75rem 0 0;position:relative}
.download .preview>button{font-size:14px;display:flex;align-items:center;padding:.4em 1em .4em 1.25em;border:1px solid #ddd;border-radius:14px;cursor:pointer}
.download .preview>button:focus,.download .preview>button:hover{border-color:#bbb;outline:0}
.download .preview>button:after{content:'';border:4px solid transparent;border-top-color:#999;border-bottom:0 none}
.download .preview strong{font-weight:400;color:#666}
.download .preview em{font-weight:400;color:#333;color:#d02020;padding:0 .4em}
.download .preview div{display:none;box-shadow:0 2px 20px 0 rgba(0,0,0,.2);background:#fff;grid-template-columns:repeat(auto-fill,minmax(50px,1fr));width:100%;max-width:520px;height:280px;border:1px solid #ccc;border-radius:4px;overflow-y:scroll;position:absolute;left:50%;top:2.5em;z-index:2;transform:translateX(-50%)}
.download .preview div button{font-size:13px;font-weight:400;line-height:0;color:#000;background:#fff;display:block;padding:.6em 0;border:0 solid #e6e6e6;border-width:0 1px 1px 0;text-align:center;cursor:pointer}
.download .preview div button:hover{background:#eee}
.download .preview.on>button{border-color:#d02020}
.download .preview.on>button:after{border-top:0 none;border-bottom:4px solid #777}
.download .preview.on div{display:grid}
.download .types-wrapper{margin:1.25rem 0 -7px}
.download .types{font-size:14px;line-height:1.3;display:flex;justify-content:center;padding-bottom:14px}
.download .types li{flex-shrink:0;padding:1em 1.5em;border:1px solid #e5e5e5;text-align:center;cursor:pointer}
.download .types li:not(:last-child){border-right-width:0}
.download .types li:first-child{border-radius:20px 0 0 20px}
.download .types li:last-child{border-radius:0 20px 20px 0}
.download .types li:hover strong span{color:#222;border-color:#bbb}
.download .types .selected{background:#f9f9f9!important;cursor:default;position:relative}
.download .types .selected:after,.download .types .selected:before{content:'';margin-left:-14px;border:14px solid transparent;border-top-color:#d8d8d8;border-bottom:0 none;position:absolute;left:50%;bottom:-15px}
.download .types .selected:after{border-top-color:#f9f9f9;bottom:-14px}
.download .types .selected strong span{color:#d02020!important;border-color:#d02020!important}
.download .types li>span{line-height:0;height:27px;display:flex;align-items:center;justify-content:center}
.download .types strong{font-size:14px;font-weight:400;line-height:1;display:flex;justify-content:center}
.download .types strong:not(:first-child){margin-top:1em}
.download .types strong:not(:last-child){margin-bottom:.5em}
.download .types strong span{color:#666;background:#fff;padding:.25em .75em .3em;border:1px solid #ddd;border-radius:14px}
.download .types em{color:#666;display:block}
.download .types em span{display:block}
.download .features{font-size:.9375rem;line-height:1.3;color:#222;margin:1.25rem 0 1.75rem;margin-left:19px}
.download .features li{margin:.6em 0;display:flex;align-items:center}
.download .features li:before{content:'';flex-shrink:0;display:inline-flex;justify-content:center;align-items:center;box-sizing:border-box;width:24px;height:24px;margin-right:.75em;border:2px solid #d9d9d9;border-radius:50%;background:transparent none 50% 50% no-repeat;background-image:url("data:image/svg+xml,%3Csvg width='10' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23666' d='M3.4 7.85L.15 4.6a.48.48 0 010-.7l.7-.71a.5.5 0 01.71 0l2.19 2.19L8.44.69a.5.5 0 01.71 0l.7.71a.48.48 0 010 .7L4.1 7.85a.48.48 0 01-.7 0z'/%3E%3C/svg%3E")}
.download .features li span{flex-grow:1}
.download .features li a{color:#666}
.download .features li a:hover{color:#d02020}
.download .features .love{font-weight:600;color:#333}
.download .features .love:before{border:0 none;background-position:1px 50%;background-image:url("data:image/svg+xml,%3Csvg width='21' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23c50f25' d='M10.51 19.001a1.011 1.011 0 01-.686-.294l-8.073-8.236a6.241 6.241 0 010-8.67 5.9 5.9 0 018.347-.139c.048.045.094.092.14.139l.272.273.262-.263a5.878 5.878 0 018.319-.158c.053.052.106.1.158.158a6.241 6.241 0 010 8.67l-8.073 8.225a1.008 1.008 0 01-.666.295zm-4.5-17a3.936 3.936 0 00-2.836 1.2 4.228 4.228 0 000 5.861l7.346 7.533 7.356-7.518a4.228 4.228 0 000-5.861 3.971 3.971 0 00-5.622-.069l-.069.069-.958 1.01a1.008 1.008 0 01-1.4 0l-.959-1.01A3.94 3.94 0 006.01 2.001z'/%3E%3C/svg%3E")}
.download .items{display:flex;flex-wrap:wrap;justify-content:space-between;margin:1.5em 0 0}
.download .item{background:#f9f9fb;box-sizing:border-box;width:48.5%;margin:0 0 1.75em;padding:1em 1.5em;border-radius:4px;position:relative}
.download .item h2{font-size:1.3125rem;font-weight:600;background-image:none;height:auto;margin:0 0 .5em;padding:0;border-radius:0;position:static}
.download .item h2 a{color:#d02020;text-decoration-color:#ddd}
.download .item h2 span{font-size:.9375rem;color:#666;display:block}
.download .item h2 em{display:block}
.download .item .example-fixed{background:#fff;display:flex;justify-content:center;align-items:center;min-height:96px;line-height:0;padding:15px 0;border:1px solid #e5e5e5;overflow-x:auto}
.download .item .example-fixed.is-smaller{min-height:54px}
.download .item .example-fixed-wider{margin:0 -1.5em}
.download .item .example{display:flex;padding:5px 0}
.download .item code{font-size:.75rem;font-weight:700;color:#888;background:#fff;box-shadow:0 1px 3px rgba(50,50,50,.1);display:block;margin:1.5em -1em;padding:.75em 1em;border-radius:5px}
.download .item code .code-tag{color:#2d7725}
.download .item code .code-attr{color:#074c91}
.download .item code .code-value{color:#c50f25}
.download .item code .code-tag{color:#2d7725}
.download .item code em{font-weight:700;color:#000}
.download .item code .blink{content:'';display:inline-block;width:2px;height:1em;margin:0 2px 0 3px;vertical-align:-1px;animation:1s infinite step-end d1}
.download .item .btn{font-size:.875rem;color:#fff;background:#c50e24;display:inline-block;height:30px;line-height:30px;margin:.75em 0 .35em;padding:0 14px;border-radius:4px;text-align:center;text-decoration:none;transition:background .5s}
.download .item .btn:hover{background:#555}
.download .all{transition:box-shadow .15s}
.download .all a:before{content:'';display:block;width:100%;height:100%;position:absolute;left:0;top:0;z-index:1}
.download .all:hover{box-shadow:0 2px 6px #e0e0e0}
.download .all:hover .btn{background:#555}
.download .ul-list{font-size:.9375rem;color:#555;margin:.5em 0}
.download .ul-list li{margin:.4em 0 0;padding:0 0 0 1.1rem}
.download .ul-list li:before{left:0}
.download .item .wrapper{position:relative;padding:10px 20px;line-height:0}
.download .item .wrapper:after,.download .item .wrapper:before{content:'';background:#d6d6d6;display:block;width:1px;height:100%;position:absolute;top:0;left:19px}
.download .item .wrapper:after{left:auto;right:19px}
.download .item .wrapper div{background:#fff;display:block}
.download .item .wrapper div:after,.download .item .wrapper div:before{content:'';background:#d6d6d6;display:block;width:100%;height:1px;position:absolute;top:9px;left:0}
.download .item .wrapper div:after{top:auto;bottom:9px}
.download .item .wrapper-vector{position:relative;line-height:0;padding:14px}
.download .item .wrapper-vector img{border:1px dotted #666}
.download .item .wrapper-vector div:after,.download .item .wrapper-vector div:before,.download .item .wrapper-vector:after,.download .item .wrapper-vector:before{background-image:url("data:image/svg+xml,%3Csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.65 8.85l-2.9 2.9 1 1a.75.75 0 01-.53 1.28H.72a.75.75 0 01-.75-.75v-3.5a.75.75 0 011.28-.53l1 1 2.9-2.9a.5.5 0 01.7 0l.8.8a.5.5 0 010 .7zm.7-3.7l2.9-2.9-1-1a.75.75 0 01.53-1.28h3.5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.28.53l-1-1-2.9 2.9a.5.5 0 01-.7 0l-.8-.8a.5.5 0 010-.7z' fill='%23999'/%3E%3C/svg%3E");content:'';width:14px;height:14px;position:absolute}
.download .item .wrapper-vector:before{left:0;top:0;transform:scaleX(-1)}
.download .item .wrapper-vector:after{right:0;top:0}
.download .item .wrapper-vector div:before{left:0;bottom:0}
.download .item .wrapper-vector div:after{right:0;bottom:0;transform:scaleX(-1)}
@keyframes d1{
0%{background:#666}
75%{background:#fff}
}
.download .hidden{display:none}
.download .options{font-size:13px;display:grid;grid-template-columns:1fr 1fr 1fr;grid-column-gap:5px;grid-row-gap:8px;margin:1.25em 0 1em}
.download .options li{color:#666;background:#fdfdfd;border:1px solid #ccc;border-radius:11px;text-align:center;cursor:pointer}
.download .options li:hover{color:#444;border-color:#aaa}
.download .options .selected{color:#d02020!important;background:#fff;border-color:#d02020!important}
.download .archives{display:none;font-size:14px;box-shadow:0 2px 20px 0 rgba(0,0,0,.2);background:#f9f9fb;margin:0 0 0 -8px;padding:1em;border:1px solid #ccc;border-radius:4px;white-space:nowrap;position:absolute;z-index:2;max-width:calc(100vw - 90px)}
.download .archives.on{display:block}
.download .archives .format{overflow-x:auto}
.download .archives .format>*{width:fit-content}
.download .archives:after,.download .archives:before{content:'';margin-left:-10px;border:10px solid transparent;border-bottom-color:#bbb;border-top:0 none;position:absolute;left:30px;top:-11px}
.download .archives:after{border-bottom-color:#f9f9fb;top:-10px}
.download .archives button{font-weight:400;color:#666;background:#fff;padding:2px 12px;border:1px solid #ccc;border-radius:100px;outline:0;text-align:center;cursor:pointer}
.download .archives button:not(:last-child){margin-right:8px}
.download .archives button:hover{color:#444;border-color:#aaa}
.download .archives .selected{color:#d02020!important;border-color:#d02020!important}
.download .archives strong{display:block;font-size:.9375rem;margin:1em 0 .5em}
.download .archives table{font-size:14px;color:#333;background:#fff;width:100%}
.download .archives tr{border-top:1px solid #e9e9e9}
.download .archives tr:last-child{border-bottom:1px solid #e9e9e9}
.download .archives td{padding:.33em 1em}
.download .archives code{margin:0}
.download .archives small{font-size:100%;color:#444;display:block;margin-top:.75em}
.download .archives small em{font-weight:600}
.download .archives small em:after,.download .archives small em:before{content:"'";color:#aaa}
.download .info{font-size:.9375rem;background:#fff7e5;margin:0 0 1em;padding:.75em 1.5em;border-radius:4px}
.download .table-dl-download{margin:1.75em 0 1.5em}
.download .over-x{background:#f9f9fb;margin:1.25em 0 1.5em;padding:.5em;border-radius:5px}
.download .over-x .table-dl-download{background:#fff;margin:0;border-radius:4px}
.contact-form{margin:1em 0;padding-top:1em;border-top:1px solid #eee}
.contact-form label{font-weight:600;color:#333;display:block;padding:0 0 .5em}
.contact-form input,.contact-form textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#f8fbff;box-sizing:border-box;width:100%;padding:10px 12px;border:1px solid #cbddf7;border-radius:4px}
.contact-form textarea{height:180px}
.contact-form>div:not(:last-of-type){margin-bottom:15px}
.contact-form .pair{display:flex}
.contact-form .pair div{box-sizing:border-box;width:50%}
.contact-form .pair div:first-child{padding-right:40px}
.contact-form .submit input{font-weight:600;color:#fff;background:#d01f20;width:auto;padding-left:30px;padding-right:30px;border:0 none;transition:all .2s}
.contact-form .submit input:hover{background:#888}
.contact-person{color:#444;background:#fafafa;margin:1.5em 0 1.25em;padding:.75em 1em .2em;border:1px solid #eaeaea;border-radius:4px}
.contact-person h2{font-size:17px;margin:0 0 1.25em;border-bottom:1px solid #e9e9e9}
.contact-person>div{display:flex;align-items:stretch;margin:1em 0}
.contact-person .flag{display:flex;margin:0 1.2em 0 .5em;transform:rotate(-3deg)}
.contact-person .flag span{background:#888;width:1px;margin-right:-1px;border:1px solid #444;border-radius:2px}
.contact-person p{font-size:15px;margin:0}
.contact-person .link{flex-grow:1;display:flex;align-items:center;justify-content:center}
.contact-person .link a{color:#666;font-size:14px;background:#fff;padding:.5em 1.5em;border:1px solid #ddd;border-radius:20px;text-decoration:none}
.contact-person .link a:hover{border-color:#c3c3c3}
.frklm{min-height:280px;text-align:center;vertical-align:middle}
@media only screen and (min-width:951px) and (max-width:1200px){
#header .menu li:last-child{display:none}
#header .menu li a{padding:0 10px}
}
@media only screen and (max-width:1100px){
#header .menu li a{font-size:14px;font-weight:400;padding:0 5px}
#header .menu li a:after{display:none}
}
@media only screen and (max-width:640px){
body,html{background:#fff}
#container,.center{width:auto;margin-left:0;margin-right:0}
#container{box-shadow:none;display:block;margin:0;padding:0;border-radius:0}
#container.no-sidebar #content{margin-right:0}
#content{width:auto;margin:0;padding:0 15px}
#sidebar{width:auto;background:#e9f6ff none;margin:12px 0 0;padding:5px 0;border-radius:0}
#breadcrumbs,#footer{width:auto;padding:0 15px}
#header{margin:0;box-shadow:none}
#search{box-shadow:0 10px 10px rgba(0,0,0,.15);width:100%;border-bottom:2px solid #888;border-radius:0}
#search-inner{float:none;width:auto}
#breadcrumbs{margin:0}
#breadcrumbs ol{padding-top:1em;padding-bottom:.55rem}
#breadcrumbs a{color:#767676}
.layout-submenu{margin-top:.25em}
.layout-submenu li:not(:last-child){margin-right:0}
#footer{font-size:.9375rem;background:#f9f9f9}
#footer .sections{flex-wrap:wrap;justify-content:space-between;padding:1.25em 0 1em}
#footer nav{width:50%;width:calc(50% - 7px)}
#footer nav:nth-child(-n+2){margin-bottom:1.5em}
#footer h3{margin-bottom:.7em}
#footer li{margin-top:1em;margin-bottom:.5em}
#footer .copyright{padding:1em 0}
h1{font-size:1.5rem}
h2.bigger{font-size:1.375rem}
h1,h2,h2.smaller{background-image:none;margin:0 0 .6em;padding:0;border:0 none;border-radius:0}
h2,h2.smaller{margin:1em 0 .5em}
.perex{margin-left:-15px;margin-right:-15px;padding-left:15px;padding-right:15px}
.links-list{margin-top:.75em}
.links-list li{width:calc(50% - 5px)}
.links-list li:nth-child(n+3){margin-top:10px}
.links-list a{padding:10px}
.flag-container{margin:0 -15px}
.flag-tools{margin-left:15px}
.flag-grid{margin:.75em 0 1em;padding:0;border-top:1px solid #e3e3e3;grid-template-columns:repeat(2,1fr);grid-column-gap:0;grid-row-gap:0}
.flag-grid li{margin:0;border:0 solid #e3e3e3;border-width:0 0 1px 0}
.flag-grid .rklm{grid-column:1/3;background:#eee;min-height:281px;margin:0;padding:0;border:0 none;border-bottom:1px solid #e3e3e3}
.flag-grid .mf{border-right-width:1px}
.flag-grid a,.flag-grid a:hover{background:0 0;padding:10px;border-radius:0}
.flag-grid span{padding:7px 0 0}
.flag-grid img{max-width:calc(100% - 2px);border:1px solid #ccc}
.flag-tools,.flag-tools button{font-size:.9375rem}
.flag-detail{border:2px solid #d4eafa}
.flag-detail img{width:100%;height:auto;border:0 none}
.flag-buttons ul{display:block}
.flag-buttons li{display:block}
.flag-buttons li:not(:last-child){margin:0 0 .6rem}
.flag-buttons a{padding-left:2px}
.flag-buttons a span,.flag-buttons a:before{display:flex;flex:0 0 52px;justify-content:center;margin:0}
.flag-buttons a strong{margin-left:0}
.emoji-platforms li{width:48%}
.about-page h2+p{margin-top:0}
.about-page .references .items{flex-wrap:wrap;justify-content:space-around;margin-top:-10px;padding:0}
.about-page .references .item{display:flex;justify-content:center;margin:20px 20px 0}
.contact-form .pair{display:block}
.contact-form .pair div{width:auto}
.contact-form .pair div:first-child{margin-bottom:15px;padding-right:0}
.contact-person h2{margin:0 0 1.25em;padding-bottom:.5em;border-bottom:1px solid #e9e9e9}
.contact-person>div{flex-wrap:wrap}
.contact-person .link{justify-content:flex-start;width:100%;margin-top:1.25em}
.download-options{display:block}
.download-options div{margin:0 0 1.25rem!important}
.download .features{margin:1em 0}
.download .preview{margin-top:1.5em}
.download .types-wrapper{overflow-x:auto}
.download .types-wrapper::-webkit-scrollbar{display:none}
.download .types{justify-content:flex-start}
.download .types:after,.download .types:before{content:'';flex:1}
.download .items:not(.hidden){display:block}
.download .item{width:auto}
.download .api .url{overflow-x:auto}
.download .api .url code{width:fit-content}
.download .api .html{overflow-x:auto}
.download .api .html code{width:fit-content}
.table-dl th{width:auto}
.table-dl td{width:auto}
.table-dl td .one-line{display:block}
.sidebar-box h3{font-size:1.5rem}
#quiz-mini{margin:0;padding:7.5px 15px 15px 15px}
#quiz-mini .options,#quiz-mini .result{min-height:112px}
#quiz-mini .options button{font-size:1rem;margin:8px 0 0}
#quiz-mini .options button strong{font-size:.875rem}
#quiz-mini .options button span{padding:.4em 1em .4em 44px}
#quiz-big .bar-wrapper{margin-left:5px;margin-right:5px}
#quiz-big .end br{display:none}
#quiz-big .image{box-sizing:border-box;width:100%}
#quiz-big img{width:100%}
#quiz-big .prev{margin-top:0}
#quiz-big .prev .items{display:block}
#quiz-big .prev .item{border-right:0 none}
#quiz-hint{box-shadow:none;margin-top:1.5rem;padding:20px 15px;border-radius:0}
#quiz-hint p{margin-bottom:1rem}
#quiz-hint div a{flex-grow:1;padding:.75em 1em;border-radius:20px;text-align:center}
#quiz-hint div a:not(:last-child){margin-right:1rem}
#map-header{color:#d02020;text-decoration:underline;cursor:pointer}
#map-wrapper{background:#000;display:none;width:100%;height:100%;margin:0;box-sizing:border-box;position:fixed;left:0;top:0;z-index:99999}
#map{display:none;width:100%;height:100%}
.map-open{position:fixed;overflow:hidden}
.quiz-options{display:block}
.quiz-options>div{width:auto;margin:1em 0}
.quiz-options h2{margin:0 0 .2em}
.quiz-results{display:block}
.quiz-results>div{width:auto;margin:1em 0}
.quiz-results h3{margin:1em 0}
#quiz .flag{background:transparent none;min-height:0;margin:1em 0;position:relative}
#quiz .flag .num{font-size:25px;top:87px;right:5px}
#quiz .flag .image{background:transparent none;height:auto}
#quiz .flag .image span{background:transparent none;float:none;height:auto;margin-left:0;margin-right:0;padding:0}
#quiz .flag .options{line-height:1.3;margin:0;padding:0}
#quiz .flag .options .column{width:48%;float:right}
#quiz .flag .options .first{float:left}
#quiz .flag .options span{margin:.8em 0}
#quiz .flag .options span strong{display:none}
#quiz .flag label{box-shadow:inset 0 0 14px 0 #eee;padding:1em .8em .9em;border:1px solid #e9e9e9;border-radius:4px;display:block}
#quiz .ok .num{color:green}
#quiz .wrong .num{color:#f34343}
#quiz.play .stats .section{width:46%}
#quiz.play .stats .section:first-of-type{width:50%;display:none}
#quiz.result .stats .section{float:left;width:100%;margin-right:0;padding:.5em 0;border-right:0 none;border-bottom:1px solid #caeaff}
#quiz.result .stats .half{width:25%;border-bottom:0 none}
#quiz.result .stats .last{width:50%;border-bottom:0 none}
#quiz .stats{margin:.6em 0}
#quiz .stats .award{margin:0;text-align:left}
#quiz .stats .award p:after,#quiz .stats .award p:before{display:none}
#quiz.result .flag{margin:0;padding:1em 0;border-bottom:1px solid #e3e3e3}
.hph{width:auto;margin:18px 0;padding:0 15px}
.hph h1{font-size:26px}
.hph p{font-size:18px;margin:8px 0 0}
.hph p a{padding:0 12px;vertical-align:1px}
.hph ul{display:block;margin-top:18px}
.hph ul li{margin:10px 0!important}
.hph ul a{color:#d02020;background:#f5f5f5;padding:6px 14px;border-radius:4px}
.hph ul a:hover{color:#000;background:#efefef}
.hph ul a:after{display:inline-block;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 256 256'%3E%3Cpolygon fill='rgba(0,0,0,.5)' points='79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128'/%3E%3C/svg%3E")}
#tracy-debug{display:none!important}
table.color .value{display:none}
.mobile-hide{display:none}
.rm-ins{min-height:280px}
.rm-flag-table{margin:13px 0 -10px;padding-bottom:15px;border-bottom:1px solid #e3e3e3}
.flag-grid .rm-flag-grid{width:100%;padding:10px}
.rm-currency-list{margin:10px 0}
.rm-currency-detail{margin:10px 0}
.rm-quiz-home{margin:10px 0}
.rm-quiz-result{margin:10px 0}
.rm-download{margin:10px 0}
#sidebar #nav-rm-bottom{margin:0;padding:0}
}
@media only screen and (max-width:950px){
#header .menu{background:#af0016;display:none;position:absolute;left:0;top:60px;z-index:99999}
#header .menu ul{display:block}
#header .menu li{display:block;border-right:0 none;text-align:left}
#header .menu li:not(:last-child){border-bottom:2px solid #8e0000}
#header .menu li a{color:#fff;display:block;padding:20px 50px 20px 25px}
#header .menu li a:after{display:none}
#sidebar div:last-child{margin-bottom:0;border-bottom:0 none}
.sidebar-sticky{position:relative;top:auto}
.nav-open #header .menu{display:block}
.mobile-toggler{display:block;background:#af0016;width:60px;height:60px;border:0 none;outline:0;position:relative;cursor:pointer}
.mobile-toggler span,.mobile-toggler:after,.mobile-toggler:before{content:'';background:#fff;width:40%;height:2px;border-radius:1px;position:absolute;left:30%}
.mobile-toggler span{top:50%;margin-top:-1px;transition:left .25s,opacity .25s}
.mobile-toggler:before{top:37%;transition:top .25s,transform .25s}
.mobile-toggler:after{bottom:37%;transition:bottom .25s,transform .25s}
.nav-open .mobile-toggler span{left:-10%;opacity:0}
.nav-open .mobile-toggler:before{transform:rotate(-45deg);top:29px}
.nav-open .mobile-toggler:after{transform:rotate(45deg);bottom:29px}
#logo{flex-grow:1;background:0 0;padding:0 0 0 10px}
#logo:hover{background:0 0}
.hph p{white-space:normal}
.hph p span{display:inline}
#quiz-big .game{display:block}
#quiz-big .image{display:inline-block}
#quiz-big img{max-width:100%}
#quiz-big .options{margin-top:15px;margin-left:0}
#quiz-hint br{display:none}
}
@media only screen and (min-width:641px) and (max-width:950px){
#container,.center{width:632px}
#container{display:block}
#breadcrumbs,#footer,.hph{width:590px}
#footer .sections{flex-wrap:wrap}
#footer nav{width:50%}
#footer nav:nth-child(-n+2){margin-bottom:2em}
.hph{margin-top:0;padding-bottom:25px}
.hph ul{flex-wrap:wrap}
#sidebar{width:auto;margin:0;border-radius:0 0 2px 2px}
#quiz-mini{display:grid;grid-template-columns:40% 60%;grid-row-gap:15px;grid-column-gap:20px;margin:0 18px 10px;padding-top:12px}
#quiz-mini h3{line-height:1;text-align:right}
#quiz-mini .image{margin:0;text-align:right}
#quiz-mini .status{margin:0}
#quiz-big .prev .item{flex-basis:50%}
#quiz-big .prev .item:nth-child(2n){border-right:0 none}
#quiz-big .prev .item:nth-child(3n){border-right:2px solid #fff}
}
@media only screen and (max-width:480px){
.flag-table .value{display:none}
.flag-table.w-population .v-population{display:table-cell}
.flag-table.w-area .v-area{display:table-cell}
}
@media only screen and (max-width:374px){
#logo{padding-left:14px}
#logo:before{display:none}
.flag-table .number{display:none}
.flag-table td.flag{padding-left:10px}
}
@media only screen and (max-width:329px){
#breadcrumbs,#content,#footer{padding-left:10px;padding-right:10px}
.perex{margin-left:-10px;margin-right:-10px;padding-left:10px;padding-right:10px}
.flag-container{margin:0 -10px}
.flag-tools{margin-left:10px}
#quiz-mini{padding:5px 10px 10px 10px}
}
@media only screen and (max-width:355px){
#content .rm-ins{min-height:250px}
}
@media only screen and (max-width:335px){
#sidebar .rm-ins{min-height:250px}
}
@media only screen and (min-width:641px){
.desktop-hide{display:none}
.rm-flag-table{margin:-4px 0 -6px}
.flag-grid .dt{margin-top:0}
.flag-grid .dr{width:100%}
.flag-grid .dr a{width:188px}
.flag-grid .dl{margin-right:0}
.flag-grid .rm-flag-grid{width:389px;margin-right:0;position:relative}
.flag-grid .rm-flag-grid em{box-shadow:inset 0 -6px 30px 6px #f7f7f7;position:absolute;width:336px;height:280px;margin:0;padding:20px 27px 20px 26px;border-radius:10px}
.rm-flag-grid .rm-ins{width:336px;height:280px}
.rm-currency-list{margin:.5em 0}
.rm-currency-detail{margin:.5em 0}
.rm-quiz-home{margin:1em 0}
.rm-quiz-result{margin:.75em 0 1em}
.rm-download{margin:1em 0}
#sidebar #nav-rm-bottom{line-height:0;margin:0 7px}
}
@media only screen and (min-width:951px){
#sidebar #nav-rm-bottom,#sidebar .rm-ins{width:300px;height:250px}
}